@use "breakpoints";

.preview {
  background-color: var(--bg-elevation-xs);
  min-height: 260px;

  @include breakpoints.media("<mobile") {
    margin-inline: var(--grid-compensation);
    width: auto;
  }
}

.navbar {
  --border-color: var(--inverted-400);

  border-bottom: 1px solid var(--divider);
  background-color: var(--bg-elevation-sm);
  gap: 12px;
  height: 44px;
  padding-inline: 48px;

  @include breakpoints.media("<mobile") {
    padding-inline: 16px;
  }
}

.actions {
  gap: 8px;

  & > span {
    width: 22px;
    height: 22px;
    min-width: 22px;
    min-height: 22px;
    border-radius: 50%;
    background-color: var(--bg-elevation-lg);
  }
}

.lsb,
.rsb {
  border-color: var(--divider);
  border-style: solid;
  min-width: 180px;
  height: 100%;
  gap: 12px;
  padding: 24px 16px;
  pointer-events: none;

  @include breakpoints.media("<desktop") {
    min-width: 120px;
  }
}

.lsb {
  border-width: 0 1px 0 0;
  align-items: flex-end;
}

.rsb {
  border-width: 0 0 0 1px;
}

.x {
  &.name {
    font-family: var(--font-primary);
    font-size: 18px;
    font-weight: 800;
  }
}
