/* Banner */
.banner {
  border-radius: var(--radius-md);
  border: 1px solid var(--divider);
  width: 100%;
  user-select: none;
  overflow: hidden;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

/* Avatar */
.avatar {
  --group-gap: 50%; // Prop from AvatarGroup, adds a left margin

  position: relative;
  overflow: initial;
  margin-top: -49px;
  margin-left: 50%;
  transform: translateX(-50%);
  outline: 6px solid var(--bg-elevation-xs);

  // Semi-circular arc border
  &::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 50%;
    width: 77px;
    height: 38.5px;
    border-top-left-radius: 39.5px;
    border-top-right-radius: 39.5px;
    border: 1px solid var(--divider);
    transform: translateX(-50%);
    border-bottom: 0;
  }
}

/* Meta */
.meta {
  justify-content: space-between;
  margin-top: -6px;
  gap: 48px;
}

/* Meta text */
.text {
  font-weight: var(--font-weight-bold);
  color: var(--fg-major) !important; // Force links to be darker

  &:last-child {
    align-items: center;
  }

  & > span {
    font-weight: var(--font-weight-medium);
  }
}
