.x {
  /* Splash image */
  &.splash-container {
    height: 180px;
    border-bottom: 1px solid var(--divider);
    margin-top: -12px;
    margin-inline: var(--grid-compensation);
    align-items: center;
    justify-content: flex-end;
  }

  /* Search input */
  &.input {
    width: 320px;
    max-width: 100%;
    margin-bottom: 26px;
  }
}
