/* Base styles */
.h2,
.h3 {
  & + *:not(p) {
    margin-top: 18px;
  }

  & + h3,
  & + h2 {
    margin-top: 36px;
  }
}

/* Heading */
.h2 {
  margin-bottom: 12px;
}

/* Subheading */
.h3 {
  margin-bottom: 8px;
}
