@use "breakpoints";

.comment {
  padding-block: 12px;
  gap: 24px;

  &.virtual {
    padding-block: 24px;

    @include breakpoints.media("<=tablet") {
      padding-block: 30px;
    }

    @include breakpoints.media("<=mobile") {
      padding-block: 20px;
    }
  }
}

.header {
  justify-content: space-between;
  gap: 24px;
}

.content {
  font-size: 15px;
  line-height: 20px;
}

.stat {
  --icon-size: 14px;
  --icon-stroke: var(--fg-minor);

  gap: 6px;
}

.hidden {
  border: 1px solid var(--divider);
  border-radius: var(--radius-md);
  background-color: var(--bg-elevation-sm);
  padding: 8px 12px;
}

.story-persona {
  gap: 10px;
}

.story-splash {
  width: 100%;
  max-width: 64px;
  min-width: 64px;
  border: 1px solid var(--divider);
  border-radius: var(--radius-xs);
  overflow: hidden;
}
