@use "../../theme/breakpoints" as breakpoints;

/* Base styles */
.comment {
  padding-block: 12px;
  padding-inline: 20px;
  gap: 16px;

  @include breakpoints.media("<=mobile") {
    padding-inline: 16px;
  }
}

/* Header */
.header {
  justify-content: space-between;
  gap: 24px;
}

/* Content */
.content {
  font-size: 15px;
  line-height: 20px;
}

/* Stat */
.stat {
  --icon-size: 14px;
  --icon-stroke: var(--fg-minor);

  gap: 6px;
}

/* Hidden */
.hidden {
  border: 1px solid var(--divider);
  border-radius: var(--radius-md);
  padding: 8px 12px;
}
