.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: inherit;
}

.avatar {
  --default-size: 32px;
  --avatar-size: var(--size, var(--default-size));

  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
  user-select: none;
  width: var(--avatar-size);
  height: var(--avatar-size);
  min-width: var(--avatar-size);
  min-height: var(--avatar-size);
  border-radius: 100%;

  &:not(.no-animation) {
    background-color: var(--hex, var(--divider));
    animation-timing-function: ease-out;
    animation-duration: 200ms;
    animation-delay: 100ms; // Delay for image animation
    animation-fill-mode: forwards;

    & .image {
      animation-timing-function: ease-in;
      animation-duration: 150ms;
      animation-fill-mode: backwards;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &:not(:last-of-type) {
    margin-left: var(--group-gap, 0);
  }

  &.border {
    outline: var(--border-color, var(--divider)) solid var(--border-width, 1px);
    outline-offset: -1px;
  }
}

.fallback {
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  color: var(--fg);
  border-radius: 100%;
  font-size: var(--font-size, 12px);
  font-weight: 550;
  line-height: 1;
  text-transform: uppercase;
}

@media screen and (prefers-reduced-motion: no-preference) {
  .avatar.loaded {
    animation-name: fade-background-out;

    & .image {
      animation-name: fade-image-in;
    }
  }
}

@keyframes fade-image-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-background-out {
  0% {
    background-color: var(--hex, var(--divider));
  }

  100% {
    background-color: transparent;
  }
}
