@use "breakpoints";

.form {
  padding: 0 16px 12px;
  align-items: stretch;
  justify-content: flex-start;
}

.input {
  width: 100%;
  max-width: 300px;

  @include breakpoints.media("<mobile") {
    max-width: 100%;
  }
}
