.x {
  &.scroll-area {
    max-height: 300px;
    min-height: 180px;
  }

  &.viewport {
    display: flex;
    align-items: stretch;
    border: 1px solid var(--divider);
    border-radius: var(--radius-md);
  }
}
