@use "breakpoints";

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.stat {
  flex-grow: 1;
  flex-basis: calc(33% - 12px);

  @include breakpoints.media("<mobile") {
    flex-basis: calc(50% - 12px);
  }
}

.mercator {
  @include breakpoints.media(">=tablet") {
    padding: 32px;
  }
}
