@use "breakpoints";

.header {
  width: auto;
  min-height: 38px;
  margin-inline: var(--grid-compensation);
  border-block: 1px solid var(--divider);

  @include breakpoints.media("<desktop") {
    position: absolute;
    width: 100vw;
    margin-inline: 0;
    left: 0;
  }
}

.header-spacer {
  @include breakpoints.media(">=desktop") {
    display: none;
  }
}

.auxiliary-content {
  padding-bottom: 15vh;
}

.x {
  &.header-label {
    margin-inline: 20px;

    @include breakpoints.media("<desktop") {
      margin-inline: 16px;
    }
  }

  &.select-trigger {
    border-radius: 0;
    border: none;
    align-self: stretch;
  }

  &.tabs-list {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid var(--divider);
  }

  &.full-width-divider {
    width: auto;
    margin-inline: var(--grid-compensation);
  }
}
