/* Base styles */
.actions {
  gap: 8px;
}

/* Menu */
.menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
  padding: 4px 12px;
  min-width: 180px;
}

/* Menu item */
.menu-item {
  border-radius: var(--radius-md);
}

/* Menu trigger */
.trigger {
  --icon-size: 14px;
  --icon-stroke: var(--fg-minor);

  border-radius: 32px; // Same as avatar radius=
  padding-inline-end: 6px;
  gap: 6px;
  cursor: pointer;
}

/* Error avatar */
.error-avatar {
  --icon-size: 16px;
}
