.selection {
  pointer-events: none;
}

.line-selection {
  padding: 0;
  margin: 0 2px 0 4px;
}

.selection-caret {
  display: inline;
  position: relative;
  border-inline: 1px solid var(--color);
  font-family: var(--font-secondary);
}
