.ul {
  list-style: none;
  gap: 8px;
}

/* H3 headings */
.nested-ul {
  border-left: 1px solid var(--divider);
  margin-bottom: 8px;
}

.li {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-sm);
  color: var(--fg-minor);
  padding-left: 16px;
  gap: 8px;

  &:hover {
    color: var(--fg-major);
  }

  &.selected {
    color: var(--fg-major);
    font-weight: var(--font-weight-bold);
    border-left: 1px solid var(--inverted-400);
  }
}

.x {
  &.toc {
    border-left: 1px solid var(--divider);
    max-height: calc(100vh - 96px);
    overflow-y: auto;
  }
}
