/* Caret */
.caret {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  height: 20px;
  width: 2px;
  background-color: var(--color);
  z-index: calc(var(--z-index-header) - 3);
}

/* Wrapper */
.wrapper {
  position: absolute;
  left: 12px;
  top: 50%;
  gap: 4px;
  padding: 2px;
  border-radius: 22px;
  background-color: var(--color);
  box-shadow: var(--shadow-md);
  transform: translateY(-50%);

  &::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    top: 50%;
    left: -10px;
    background-color: var(--color);
    transform: translateY(-50%);
  }
}

/* Avatar */
.avatar {
  height: 18px;
  width: 18px;
  border-radius: 50%;
}

/* Name */
.name {
  max-width: 76px;
  padding: 3px 8px;
  color: var(--fg-major);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  line-height: 100%;
  border-radius: 16px;
  background-color: var(--bg-body);
}
