.caret {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -2px;
  width: 2px;
  background-color: var(--color);
  z-index: calc(var(--z-index-header) - 3);
}

.wrapper {
  position: absolute;
  left: 12px;
  top: 50%;
  width: fit-content;
  max-width: var(--offset-width, 114px);
  padding: 2px;
  pointer-events: none;
  border-radius: var(--radius-sm);
  background-color: var(--color);
  box-shadow: var(--shadow-md);
  transform: translateY(-50%);

  /* Horizontally flipped */
  &.flipped {
    transform: translate(calc(-100% - 12px), -50%);
    left: 100%;
    right: 12px;

    &::before {
      left: 100%;
      right: -10px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    top: 50%;
    left: -10px;
    background-color: var(--color);
    transform: translateY(-50%);
  }
}

.avatar {
  height: 20px;
  width: 21px; // +1px border
  border-radius: var(--radius-sm) 0 0 var(--radius-sm);
  border-right: 1px solid var(--divider);
  background-color: var(--hex);
}

.name {
  max-width: 100%;
  align-self: stretch;
  padding: 3px 8px;
  color: var(--fg-major);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  line-height: 100%;
  box-shadow: var(--ridge-xs);
  border-radius: 0 var(--radius-sm) var(--radius-sm) 0;
  background-color: var(--bg-body);
}

.selection,
.selection-bg {
  position: absolute;
  pointer-events: none;
  z-index: 1;
}

.selection-bg {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
