.caret {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -2px;
  width: 2px;
  background-color: var(--color-bg);
  border-radius: 0 0 2px 2px;
  z-index: calc(var(--z-index-header) - 3);

  &.mini {
    &::after {
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      top: -4px;
      left: 50%;
      background-color: var(--color-bg);
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.name {
  position: absolute;
  left: 0;
  top: calc(-50% - 10px);
  color: var(--color-fg, var(--fg-major));
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  font-family: var(--font-secondary);
  line-height: 100%;
  max-width: var(--offset-width, 114px);
  padding: 5px 8px;
  pointer-events: none;
  border-radius: var(--radius-xs);
  background-color: var(--color-bg);

  &:not(.flipped) {
    border-bottom-left-radius: 0;
  }

  &.flipped {
    transform: translateX(calc(-100% + 2px));
    border-bottom-right-radius: 0;
  }
}

.selection,
.selection-bg {
  position: absolute;
  pointer-events: none;
  z-index: 1;
}

.selection-bg {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
