.x {
  &.viewport {
    padding: 16px;
    overflow: auto;
    font-size: 13px;
    line-height: 1.45;
    color: var(--fg-major);
    background-color: var(--bg-elevation-xs);
    border-radius: var(--radius-md);

    & code {
      display: inline;
      padding: 0;
      margin: 0;
      overflow: visible;
      line-height: inherit;
      color: inherit;
      word-wrap: normal;
      background-color: transparent;
      border: 0;
    }
  }
}
