/* Base styles */
.aspect-ratio {
  position: relative;
  overflow: hidden;
  width: 100%;

  &::before {
    content: '';
    display: block;
    speak: none;
    padding-bottom: var(--padding);
  }

  & [data-first-child] {
    object-fit: var(--object-fit);
    width: 100%;
    height: 100%;
  }
}

/* Wrapper */
.wrapper {
  position: absolute;
  inset: 0;
}