@use "breakpoints";

.x {
  /* Radio group */
  &.radio-group {
    flex-direction: row;
    gap: 12px;
    padding: 12px 8px;

    @include breakpoints.media("<=mobile") {
      &:not(.wrap) {
        flex-direction: column;
        gap: 18px;
      }
    }
  }

  /* Radio item */
  &.item {
    border: 1px solid var(--divider);
    border-radius: var(--radius-md);
    overflow: hidden;
    position: relative;
    width: 100%;

    &.selected {
      outline: 2px solid var(--inverted-400);
      outline-offset: -1px;
    }
  }

  /* Preview */
  &.preview {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  /* Radio container */
  &.radio-container {
    margin: 8px 12px;
  }

  /* Radio */
  &.radio {
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      height: 100%;
      width: 100%;
    }
  }
}
