@use "breakpoints";

/* Radio item */
.item {
  border: 1px solid var(--divider);
  border-radius: var(--radius-md);
  overflow: hidden;
  position: relative;

  &.selected {
    outline: 2px solid var(--inverted-400);
    outline-offset: -1px;
  }

  flex-basis: calc(33.33% - 12px);

  @include breakpoints.media("<mobile") {
    flex-basis: calc(50% - 12px);
  }
}

.preview {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.x {
  &.radio-group {
    flex-flow: row wrap;
    gap: 12px;
    padding: 12px 8px;
  }

  &.radio-container {
    margin: 8px 12px;
  }

  &.radio {
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      height: 100%;
      width: 100%;
    }
  }
}
