.svg {
  width: 100%;
  height: 100%;
  max-width: 56px;
}

.item {
  --typeface-preview-fill: var(--fg-minor);

  flex: 1;
  min-width: 145px;

  &.selected {
    --typeface-preview-fill: var(--fg-major);
  }
}

.decorator {
  max-width: 100%;
  padding-inline: 16px;
  padding-block: 16px 10px;
  background-color: var(--bg-elevation-sm);
}

.x {
  &.radio-group {
    flex-wrap: wrap;
  }
}
