/* Link */
.link {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

/* Mention and tag */
.mention,
.tag {
  background-color: var(--bg);
  color: var(--fg);
  border-radius: var(--radius-lg);
  font-weight: var(--font-weight-medium);
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  cursor: pointer;
  padding: 2px 4px;
}

/* Mention */
.mention {
  --bg: var(--beryl-100);
  --fg: var(--beryl-300);

  &:hover {
    --bg: var(--beryl-200);
    --fg: var(--snow);
  }
}

/* Tag */
.tag {
  --bg: var(--plum-100);
  --fg: var(--plum-300);

  &:hover {
    --bg: var(--plum-200);
    --fg: var(--snow);
  }
}

/* Inline code */
.inline-code {
  color: var(--fg-inline-code);
  background-color: var(--bg-inline-code);
  font-size: 0.85em;
  line-height: 100%;
  padding: 1px 5px;
  margin: 0 0.45em;
  border-radius: var(--radius-md);
  border: 0.5px solid var(--divider);

  &.inline-color {
    position: relative;
    padding-left: 18px;

    &::before {
      content: "";
      position: absolute;
      width: 9px;
      height: 9px;
      border-radius: var(--radius-xs);
      border: 1px solid var(--divider);
      background-color: var(--color);
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
    }

    /* Large color preview for editor */
    &.legible {
      padding-left: 24px;

      &::before {
        width: 12px;
        height: 12px;
        left: 8px;
      }
    }
  }
}
