/* Base styles */
.spinner {
  --thickness: 1.75px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: var(--size);
  height: var(--size);
  border-radius: var(--size);
}

/* Indicator and svg */
.indicator,
.svg {
  width: inherit;
  height: inherit;
  display: inherit;
}

/* Track */
.track {
  r: calc(50% - var(--thickness));
  fill: transparent;
  stroke-width: var(--thickness);
  stroke: var(--track-bg);
}

/* Progress */
.progress {
  --length: calc(2 * 3.1416 * calc(50% - var(--thickness)));

  r: calc(50% - var(--thickness));
  fill: transparent;
  stroke-width: var(--thickness);
  stroke: var(--progress-bg);
  stroke-linecap: round;
  stroke-dasharray: var(--length);
  stroke-dashoffset: calc(
    var(--length) - var(--value, 30) * var(--length) / 100
  );
  transform-origin: center;
  transform: rotate(-90deg);
}

/* Indicator */
.indicator {
  position: absolute;

  &[data-state="indeterminate"] {
    & .progress {
      animation: 550ms linear 0s infinite normal none running spin;
    }
  }
}

/* Sizes */
.lg {
  --size: 32px;
}

.md {
  --size: 24px;
}

.sm {
  --size: 16px;
}

.xs {
  --size: 12px;
}

/* Colors */
.inverted {
  --track-bg: var(--inverted-100);
  --progress-bg: var(--inverted-400);
}

.ruby {
  --track-bg: var(--ruby-100);
  --progress-bg: var(--ruby-600);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
