.spinner {
  --thickness: 1.75px;
  --radius: calc(var(--size) / 2 - var(--thickness) / 2);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: var(--size);
  height: var(--size);
  border-radius: var(--size);
}

.indicator,
.svg {
  width: inherit;
  height: inherit;
  display: inherit;
}

.track {
  r: var(--radius);
  fill: transparent;
  stroke-width: var(--thickness);
  stroke: var(--track-bg);
}

.progress {
  --length: calc(2 * 3.1416 * var(--radius));

  r: var(--radius);
  fill: transparent;
  stroke-width: var(--thickness);
  stroke: var(--progress-bg);
  stroke-linecap: round;
  stroke-dasharray: var(--length);
  stroke-dashoffset: calc(
    var(--length) - var(--value, 30) * var(--length) / 100
  );
  transform-origin: center;
  transform: rotate(-90deg);
}

.indicator {
  position: absolute;

  &[data-state="indeterminate"] {
    & .progress {
      animation: 550ms linear 0s infinite normal none running spin;
    }
  }
}

/* Sizes */
.lg {
  --size: 32px;
}

.md {
  --size: 24px;
}

.sm {
  --size: 16px;
}

.xs {
  --size: 12px;
}

/* Colors */
.inverted {
  --track-bg: var(--inverted-100);
  --progress-bg: var(--inverted-400);
}

.ruby {
  --track-bg: var(--ruby-100);
  --progress-bg: var(--ruby-600);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
