# dependencies
node_modules
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# docker
docker/tmp/elasticsearch/*
docker/tmp/minio/*
docker/tmp/postgres/*
docker/tmp/redis/*
apps/cdn/docker/tmp/nginx/*
!docker/tmp/elasticsearch/.gitkeep
!docker/tmp/minio/.gitkeep
!docker/tmp/postgres/.gitkeep
!docker/tmp/redis/.gitkeep
!apps/cdn/docker/tmp/nginx/.gitkeep

# test certificates
packages/proto/certs/*
!packages/proto/certs/gen.sh

# next.js
**/.vercel
**/.next/
**/out/
**/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
apps/web/.env.development
.env.development.local
.env.test.local
.env.production.local
**/*.env
**/*.env.local

# turbo
.turbo

# vercel
.vercel

# playwright
**/coverage
**/test-results/
**/playwright-report/
**/playwright/.cache/

# misc
.DS_Store
*.pem
migration-storybook.log
