@use "breakpoints";

.tag {
  padding-block: 8px;
  gap: 12px;

  &.virtual {
    padding-block: 26px;

    @include breakpoints.media("<=mobile") {
      padding-block: 16px;
    }
  }
}

.main {
  gap: 24px;
}

.meta {
  --icon-size: 14px;

  gap: 8px;
  max-width: 64%; // Ellipsis width limit

  @include breakpoints.media("<=mobile") {
    --icon-size: 18px;
  }
}

.avatar {
  --size: 30px;

  @include breakpoints.media("<=mobile") {
    --size: 36px;
  }
}

.tag-name {
  font-size: 18px;
  font-weight: var(--font-weight-bold);
}

.stats {
  gap: 8px;
}

.stat {
  gap: 6px;
}

.stat-icon {
  --icon-size: 14px;
  --icon-stroke: var(--fg-minor);
}
