.reset {
  appearance: none;
  border: none;
  outline: none;
  text-decoration: none;
  user-select: none;
}

.sidebar-item {
  --fg: var(--fg-major);
  --bg: transparent;

  display: inline-flex;
  color: var(--fg);
  font-family: inherit;
  font-size: 13px;
  line-height: 18px;
  font-weight: var(--font-weight-medium);
  background-color: var(--bg);
  justify-content: flex-start;
  padding: 4px 12px;
  gap: 4px;
  min-height: 28px;
  height: 28px;
  border-radius: var(--radius-sm);
  cursor: pointer;

  &:not([data-disabled]) {
    &:hover {
      --bg: var(--bg-elevation-lg);
    }

    &[data-state="active"] {
      --bg: var(--inverted-400);
      --fg: var(--inverted-0);
      --icon-stroke-width: 0.8px;
    }
  }

  &[data-disabled] {
    --fg: var(--fg-muted);

    cursor: not-allowed;
  }
}

.decorator {
  --icon-size: 15px;

  padding: 4px;

  // Tackle the excessive left padding
  margin-left: -8px;
}
