@use "../../theme/breakpoints" as breakpoints;

/* Base styles */
.navbar {
  padding-block: 10px;
  min-height: var(--header-height);
  z-index: var(--z-index-header);
  grid-area: hd;
  position: sticky;
  top: var(--banner-height, 0);
  display: flex;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    width: 200vw;
    height: 100%;
    top: 0;
    z-index: -1;
    left: -50vw;
    speak: none;
    box-shadow: var(--shadow-sm);
    background-color: var(--bg-elevation-sm);
    border-bottom: 1px solid var(--divider);
  }

  &:not(.minimal) {
    @include breakpoints.media("<=tablet") {
      & .wordmark {
        display: none;
      }

      &:not(.logged-in) {
        & .nav {
          justify-content: flex-end; // Push actions to right
        }

        & .search {
          display: none;
        }
      }
    }

    @include breakpoints.media("<=mobile") {
      & .wordmark {
        display: inline-flex;
        padding-inline: 6px;

        & .wordmark-label {
          display: none; // Hide text
        }
      }

      & .search {
        display: none;
      }

      &:not(.logged-in) {
        & .nav {
          justify-content: space-between;
        }
      }
    }
  }

  @media print {
    display: none !important;
  }
}

/* Nav */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  width: 100%;

  &.minimal {
    justify-content: center;
  }
}

/* Wordmark */
.wordmark {
  border-radius: var(--radius-md); // Radius for focus outline
}

/* Search */
.search {
  width: 300px;
  max-width: 100%;

  @include breakpoints.media(">=tablet") {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* Minimal variant child */
.child {
  padding-left: 24px;
  border-left: 1px solid var(--divider);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-size: 18px;
}
