.strength-indicator {
  /* Sizes */
  &.lg {
    --icon-size: 16px;
  }

  &.md {
    --icon-size: 14px;
  }
}

.strength-icon {
  margin-top: -2px;
}

.strength-ring {
  --track-bg: var(--inverted-50);
}

.strength-progress {
  transition: all 400ms var(--easing-medium);
}
