@use "breakpoints";

.list {
  gap: 24px;
  list-style: none;
}

.item {
  padding: 8px 16px;
  max-width: 100%;
  gap: 24px;
  align-items: center;
  justify-content: space-between;

  @include breakpoints.media("<mobile") {
    &.connected {
      gap: 16px;
      flex-wrap: wrap;
    }
  }
}

.details {
  gap: 16px;
}

.icon {
  --icon-size: 36px;
}

.actions {
  gap: 8px;
}
