.popover {
  width: 320px;
}

.header {
  padding-left: 16px;
  border-bottom: 1px solid var(--divider);
  background-color: var(--bg-elevation-md);
}

.icon {
  --icon-size: 18px;

  margin-left: -8px;
  margin-right: 6px;
  height: 30px;
  width: 30px;
  text-align: center;
  vertical-align: middle;
  font-size: var(--font-size-md);
}

.close {
  padding: 5px;
}

.footer {
  padding: 12px;
  border-top: 1px solid var(--divider);
  background-color: var(--bg-elevation-sm);
}
