.x {
  /* Base styles */
  &.draft {
    position: relative;
    border: 1px solid var(--divider);
    border-radius: var(--radius-md);
    overflow: hidden;
  }

  /* Splash */
  &.splash {
    display: block;
  }

  /* Splash placeholder */
  &.placeholder {
    --icon-size: 24px;
    --icon-stroke: var(--fg-muted);
  }

  /* Edit icon button */
  &.edit-button {
    position: absolute;
    top: 12px;
    right: 12px;
  }

  /* Meta */
  &.meta {
    border-top: 1px solid var(--divider);
    padding: 12px;
    gap: 6px;
  }
}
