@use "breakpoints" as breakpoints;

.x {
  /* Preview */
  &.preview {
    background-color: var(--bg-elevation-sm);
    padding: 12px 16px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 30px;
      width: 100%;
      background: linear-gradient(
        180deg,
        transparent 45%,
        var(--bg-elevation-sm) 100%
      );
    }
  }
}
