/* Reset */
.reset {
  appearance: none;
  border: none;
  outline: none;
  text-decoration: none;
  user-select: none;
}

/* Base styles */
.tab {
  --fg: var(--fg-minor);
  --indicator-bg: transparent;
  --icon-size: var(--icon-only-size);
  --border: 2px solid var(--indicator-bg);

  display: inline-flex;
  color: var(--fg);
  font-family: inherit;
  font-size: var(--font-size);
  font-weight: var(--font-weight-medium);
  background-color: transparent;
  line-height: 24px;
  gap: var(--gap);
  cursor: pointer;
  position: relative;
  z-index: 1;

  &:not([data-disabled]) {
    &:hover {
      --fg: var(--fg-major);
      --indicator-bg: var(--inverted-100);

      &:not([data-orientation="vertical"])::before {
        content: "";
        position: absolute;
        width: 95%;
        height: 65%;
        z-index: -1;
        background: var(--bg-elevation-md);
        border-radius: var(--radius-md);
      }

      &.icon-only:not([data-orientation="vertical"])::before {
        width: 70%;
        height: 70%;
      }
    }

    &[data-state="active"], &:focus-visible {
      --fg: var(--fg-major);
      --indicator-bg: var(--inverted-400);
      --icon-stroke-width: 0.8px;

      font-weight: var(--font-weight-bold);
    }

    &:focus-visible {
      --indicator-bg: var(--focus);
    }
  }

  &[data-disabled] {
    --fg: var(--fg-muted);

    cursor: not-allowed;
  }

  &[data-orientation="horizontal"] {
    padding: var(--padding-inline);
    border-bottom: var(--border);
  }

  &[data-orientation="vertical"] {
    padding: var(--padding-block);
    border-right: var(--border);
  }
}

/* Decorator */
.decorator {
  --icon-size: var(--decorator-size);
}

/* Sizes */
.lg {
  --decorator-size: 20px;
  --icon-only-size: 28px;
  --font-size: var(--font-size-md);
  --gap: 12px;
  --padding-inline: 12px;
  --padding-block: 6px 24px 6px 16px;
}

.md {
  --decorator-size: 16px;
  --icon-only-size: 22px;
  --font-size: var(--font-size-sm);
  --gap: 8px;
  --padding-inline: 8px;
  --padding-block: 4px 16px 4px 8px;
}