/* Base styles */
.header {
  width: 100%;
  min-height: 40px;
  background-color: var(--bg-elevation-md);
  border-bottom: 1px solid var(--divider);
}

/* Decorator */
.decorator {
  padding: 6px;
}

/* Title */
.title {
  margin: 0;
  flex-grow: 1;
  font-weight: var(--font-weight-bold);
}
