.native-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: inherit;
}

.image {
  overflow: hidden;
  position: relative;
  width: var(--width, 100%);
  height: var(--height, 100%);
  background-color: var(--hex, var(--divider));

  &:not(.no-animation) {
    animation-timing-function: ease-out;
    animation-duration: 250ms;
    animation-delay: 2500ms;
    animation-fill-mode: forwards;
  }

  &:not(.no-animation) .native-image {
    animation-timing-function: ease-in;
    animation-duration: 250ms;
    animation-delay: 0s;
    animation-fill-mode: backwards;
  }

  &.loaded {
    animation-name: fade-background-out; // Hide background as images can be transparent
  }

  &.loaded .native-image {
    animation-name: fade-image-in;
  }
}

.fallback {
  width: 100%;
  height: 100%;
  user-select: none;
  background-color: var(--bg-elevation-md);
}

.overlay {
  --icon-size: 36px;

  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  padding: 24px;
  text-align: center;
  background-color: rgba(0 0 0 / 60%);
  backdrop-filter: blur(20px);
}

@keyframes fade-image-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-background-out {
  0% {
    background-color: var(--hex, var(--divider));
  }

  100% {
    background-color: transparent;
  }
}
