/* Base styles */
.image {
  overflow: hidden;
  position: relative;
  width: var(--width, 100%);
  height: var(--height, 100%);
  background-color: var(--hex, var(--divider));
  animation-timing-function: ease-out;
  animation-duration: 200ms;
  animation-delay: 100ms; // Delay for image animation
  animation-fill-mode: forwards;
}

/* Native image element */
.native-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: inherit;
  animation-timing-function: ease-in;
  animation-duration: 220ms;
  animation-fill-mode: backwards;
}

/* Fallback */
.fallback {
  width: 100%;
  height: 100%;
  user-select: none;
  background-color: var(--bg-elevation-md);
}

@media screen and (prefers-reduced-motion: no-preference) {
  /* Loaded */
  .image.loaded {
    animation-name: fade-background-out;

    & .native-image {
      animation-name: fade-image-in;
    }
  }
}

@keyframes fade-image-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-background-out {
  0% {
    background-color: var(--hex, var(--divider));
  }

  100% {
    background-color: transparent;
  }
}
