/* Native image element */
.native-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: inherit;
  animation-timing-function: ease-in;
  animation-duration: 220ms;
  animation-fill-mode: backwards;
}

/* Base styles */
.image {
  overflow: hidden;
  position: relative;
  width: var(--width, 100%);
  height: var(--height, 100%);
  animation-timing-function: ease-out;
  animation-duration: 200ms;
  animation-delay: 300ms; // Delay for image animation
  animation-fill-mode: forwards;
  background-color: var(--hex, var(--divider));

  &.loaded {
    animation-name: fade-background-out; // Hide background as images can be transparent

    & .native-image {
      animation-name: fade-image-in;
    }
  }
}

/* Fallback */
.fallback {
  width: 100%;
  height: 100%;
  user-select: none;
  background-color: var(--bg-elevation-md);
}

/* Rating overlay */
.overlay {
  --icon-size: 36px;

  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  padding: 24px;
  text-align: center;
  background-color: rgba(0 0 0 / 60%);
  backdrop-filter: blur(20px);
}

@keyframes fade-image-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-background-out {
  0% {
    background-color: var(--hex, var(--divider));
  }

  100% {
    background-color: transparent;
  }
}
