.x {
  /* Base styles */
  &.table {
    margin-block: 12px;
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
    color: var(--fg-minor);
    overflow: auto;
    max-width: 100%;

    & table {
      border-collapse: collapse;

      & th {
        font-weight: var(--font-weight-medium);
      }

      & td,
      & th {
        border-block: 1px solid var(--divider);
        padding: 16px 12px;
        text-align: left;
      }
    }
  }
}
