.left-sidebar {
  grid-area: lsb;

  &::before {
    border-right: 1px solid var(--divider);
    right: 0;
  }

  @media print {
    display: none !important;
  }
}

.wrapper {
  padding-right: 24px;
}
