.left-sidebar {
  grid-area: lsb;

  &::before {
    border-right: 1px solid var(--divider);
    right: 0;
    box-shadow: -50vw 0 0 50vw var(--bg-elevation-xs);
  }

  @media print {
    display: none !important;
  }
}

.wrapper {
  padding-right: 24px;
}
