@use "breakpoints" as breakpoints;

/* Base styles */
.image {
  display: block;
  position: relative;
  user-select: none;
  max-width: 100%;
  width: 100%;
}

/* Items container (holds images) */
.items-container {
  position: relative;
  outline: none !important; // Disable focus outline
  background-color: var(--bg-body); // For transparent images
  z-index: 1; // Move above the left and right banners
  display: grid;
  grid-gap: 12px;
  grid: "first" 1fr / 1fr;

  /* Pseudo element for focused outline */
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    outline-offset: -1px;
  }

  &[data-item-count="2"] {
    grid: "first second" 1fr / 1fr 1fr;
  }

  &[data-item-count="3"] {
    grid: "first first third" 1fr "first first second" 1fr / 1fr 1fr 1fr;
  }

  /* Image item */
  & .item {
    &[data-index="0"] {
      grid-area: first;
    }

    &[data-index="1"] {
      grid-area: second;
    }

    &[data-index="2"] {
      grid-area: third;
    }
  }

  /* Fit layout */
  &[data-layout="fit"] {
    max-width: 100%;
  }

  /* Fill layout */
  &[data-layout="fill"] {
    width: auto;
    grid-column: 5 / -5;
    margin-inline: var(--grid-compensation);
  }

  /* Overflow layout (stretch over both the sidebars) */
  &[data-layout="overflow"] {
    grid-column: 2 / -2;
  }

  /* Screen width layout */
  &[data-layout="screen-width"] {
    grid-column: 1 / -1;
  }

  /* Stretch over the entire screen for layouts other than `fit` */
  &:not([data-layout="fit"]) {
    @include breakpoints.media("<desktop") {
      width: 100vw !important;
      margin-inline: 0 !important;
      grid-column: unset !important;
    }
  }
}

/* Image container */
.container {
  /* Layout other than fit */
  &:not([data-layout="fit"]) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; // Stay below the sidebars

    &:not([data-layout="fill"]) {
      // Stay above the sidebars
      z-index: calc(var(--z-index-header) - 1);
    }
  }

  /* Image items container */
  & .items-container {
    cursor: default;
  }

  /* Editable */
  &.editable {
    &:not(.focused) {
      & .items-container {
        cursor: pointer;
      }
    }

    /* Show a focused outline */
    &:not([data-layout="fit"]).focused {
      & .items-container {
        &::after {
          outline: 1px solid var(--inverted-400);
        }
      }
    }

    /* Fit layout */
    &[data-layout="fit"] {
      /* Hover and focused state */
      &:hover,
      &.focused {
        outline: 1.5px solid var(--inverted-400);
        filter: drop-shadow(
          var(--shadow-sm)
        ); // Drop shadow for images with transparent background
      }
    }
  }
}

.x {
  /* Image item */
  &.item {
    width: 100%;
  }

  /* Button */
  &.button {
    border-radius: 0;
  }

  /* Image item remove button */
  &.remove-button {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  /* Popover */
  &.popover {
    border: none;
    box-shadow: var(--ridge-xs);
    z-index: calc(var(--z-index-header) - 1);
    align-items: stretch;
  }
}
