@use "breakpoints";

.content {
  gap: 18px;

  @include breakpoints.media("<mobile") {
    flex-direction: column;
  }
}

.qr-wrapper {
  gap: 12px;
}

.aspect-ratio {
  min-width: 172px;
  min-height: 172px;
  max-width: 200px;
  height: auto;
  border-radius: var(--radius-md);
  border: 1px solid var(--divider);
}

.code {
  text-align: center;
  user-select: all;
}
