@use "breakpoints";

.content {
  gap: 18px;

  @include breakpoints.media("<=mobile") {
    flex-direction: column;
  }
}

.qr-wrapper {
  gap: 12px;
}

.aspect-ratio {
  width: 172px;
  height: 172px;
}

.code {
  white-space: nowrap;
}
