@use "breakpoints" as breakpoints;

/* Content */
.content {
  gap: 18px;

  @include breakpoints.media("<=mobile") {
    flex-direction: column;
  }
}

/* QR wrapper */
.qr-wrapper {
  gap: 12px;
}

/* QR code aspect ratio */
.aspect-ratio {
  width: 172px;
  height: 172px;
}

/* Code */
.code {
  white-space: nowrap;
}
