@use "breakpoints";

/* Tabs (div) */
.tabs {
  padding-inline: 20px;

  &.has-banner {
    margin-top: 0;
    border-top: 1px solid var(--divider);
  }

  @include breakpoints.media("<=mobile") {
    padding-inline: 16px;
  }
}

.page-header {
  box-shadow: none;
}

.right-sidebar-shadow {
  grid-column: -5 / -1;
  height: 58px;
  margin-top: -58px;
  z-index: 1;
  border-top-left-radius: var(--radius-xl);
  box-shadow: 0 0 16px hsl(0deg 0% 0% / 25%);

  @include breakpoints.media("<=tablet") {
    display: none;
  }
}

.banner-wrapper {
  --banner-height: 202px;

  position: absolute;
  left: 0;
  top: var(--header-height);
  z-index: 0;
  overflow: hidden;
  height: var(--banner-height);
  min-height: initial;

  @include breakpoints.media("<=mobile") {
    --banner-height: 128px;
  }
}

.banner-spacer {
  height: calc(197px - 12px);

  @include breakpoints.media("<=mobile") {
    height: calc(127px - 12px);
  }
}

.x {
  &.banner {
    grid-column: 5 / -1;
    margin-inline: var(--grid-compensation);
    width: auto;
    height: var(--banner-height);
    position: relative;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      box-shadow: inset 16px -12px 16px -16px hsl(0deg 0% 0% / 25%);
    }

    @include breakpoints.media("<=desktop", ">tablet") {
      grid-column: 1 / -1;
      margin-inline: 0;
    }

    @include breakpoints.media("<=tablet") {
      grid-column: 2 / -1;
      margin-inline: 0;
    }

    @include breakpoints.media("<=mobile") {
      grid-column: 1 / -1;
    }
  }

  &.tabs-list {
    display: flex;
    justify-content: space-around;
  }
}
