.content {
  padding: 12px 16px;
  background-color: var(--bg-elevation-sm);
  border-radius: var(--radius-xl);
  box-shadow: var(--ridge-md), var(--shadow-md);
  width: 270px;
  max-height: var(--radix-hover-card-content-available-height);
  max-width: calc(var(--radix-hover-card-content-available-width) - 20px);
  z-index: var(--z-index-popover);
  overflow: hidden;
  animation-duration: 300ms;
  animation-timing-function: var(--easing-short);
  will-change: transform, opacity;

  &[data-side="top"] {
    animation-name: slide-down-and-fade;
  }

  &[data-side="right"] {
    animation-name: slide-left-and-fade;
  }

  &[data-side="bottom"] {
    animation-name: slide-top-and-fade;
  }

  &[data-side="left"] {
    animation-name: slide-right-and-fade;
  }
}

.header {
  position: relative;
}

.meta {
  width: fit-content;
  max-width: calc(100% - 48px);
}

.sub {
  align-items: center;
  gap: 6px;
}

.bio {
  margin-top: 10px;
  font-size: calc(var(--font-size-sm) - 1px);
  line-height: calc(var(--line-height-sm) - 1px);
}

.stats {
  gap: 10px;
}

.arrow {
  fill: var(--bg-elevation-lg);
}

.x {
  &.banner {
    margin-block: -11px 12px;
    margin-inline: -14px;
    width: auto;
    border-radius: var(--radius-xl) var(--radius-xl) 0 0;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, hsl(0deg 0% 0% / 0%) 70%, hsl(0deg 0% 16% / 20%) 100%);
    }
  }

  &.avatar {
    &.has-banner {
      outline: 4px solid var(--bg-elevation-sm);
      margin-top: -44px;
    }

    &:not(.has-banner) {
      margin-block: 4px 8px;
    }
  }

  &.action {
    position: absolute;
    right: 0;
    top: 4px;

    &.has-banner {
      top: 80px;
    }
  }
  
  &.status {
    margin-bottom: -11px;
    margin-inline: -16px;
    padding: 6px 16px;
    width: auto;
    border-radius: 0 0 var(--radius-xl) var(--radius-xl);
    border-width: 1px 0 0 !important;
    background-color: transparent;
  }
}

/* Animations */
@keyframes slide-up-and-fade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-right-and-fade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-down-and-fade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-left-and-fade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
