.x {
  &.body {
    min-height: 0;
    padding: 0;
    height: 45vh;
  }

  &.tab-panel {
    height: 100%;
  }

  &.scroll-area {
    height: 100%;
    max-height: 100%;
  }

  &.viewport {
    padding: 16px 16px 96px;
    max-height: 100%;
  }
}
