.uploader {
  height: 100%;
  width: 100%;
  padding: 24px;
}

.preview {
  max-height: calc(100% - 32px);
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid var(--divider);
  border-radius: var(--radius-sm);
}
