.x {
  &.body {
    min-height: 0;
    padding: 0;
    height: 35vh;
  }

  &.radio-group {
    gap: 16px;
  }

  &.scroll-area {
    height: 100%;
    max-height: 100%;
  }

  &.viewport {
    padding: 24px;
    max-height: 100%;
  }
}
