.icon-wrapper {
  --icon-size: 64px;
  --icon-stroke: var(--fg-minor);

  padding-block: 12px 24px;
}

.x {
  &.body {
    min-height: 0;
    padding: 0;

    &:not(.posted) {
      height: 35vh;
    }
  }

  &.radio-group {
    gap: 16px;
  }

  &.scroll-area {
    height: 100%;
    max-height: 100%;
  }

  &.viewport {
    padding: 24px;
    max-height: 100%;
  }
}
