.navigation-screen {
  gap: 24px;
  padding-block: 6px;
  margin-top: 12px;
}

.navigation-group {
  gap: 12px;
}

.item-container {
  background-color: var(--bg-elevation-xs);
  border: 1px solid var(--divider);
  border-radius: var(--radius-md);
  overflow: hidden;
}
