/* Trigger */
.trigger {
  --bg: var(--bg-body);
  --border: var(--divider);

  border-radius: var(--radius);
  border: 1px solid var(--border);
  background-color: var(--bg);
  color: var(--fg);
  min-height: var(--size);
  font-size: var(--font-size);
  line-height: var(--line-height);
  align-items: center;
  justify-content: space-between;
  padding: 0 4px;
  overflow: hidden;
  cursor: pointer;

  // Use input hover foreground when inside context
  &.context {
    --fg: initial !important;
  }

  &:not([data-disabled]):hover {
    background-color: var(--bg-elevation-xs);
  }

  & > [data-value] {
    margin: 0 var(--value-margin);
  }

  &[data-placeholder] {
    --fg: var(--fg-placeholder, var(--fg-muted));
  }

  &[data-disabled] {
    --bg: var(--bg-elevation-md);
    --border: var(--disabled-border, var(--divider));
    --fg: var(--disabled-fg, var(--fg-muted));
    --icon-stroke: var(--fg);

    cursor: not-allowed;
  }
}

/* Icon */
.icon {
  --icon-stroke: var(--fg);

  width: calc(var(--size) - 2px);
  height: calc(var(--size) - 2px);
  margin-right: -5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* Content */
.content {
  background-color: var(--bg-elevation-xs);
  border: 1px solid var(--divider);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
  z-index: var(--z-index-dropdown);
}

/* Viewport */
.viewport {
  padding: var(--viewport-padding);
}

/* Scroll button */
.scroll-button {
  --icon-size: 14px;
  --icon-stroke: var(--fg-minor);

  cursor: default;
  padding: 4px 0;
}

/* Sizes */
.lg, .md {
  --padding: 5px 18px 5px 32px;
  --viewport-padding: 9px 0;
  --gap: 10px;
}

.lg {
  --radius: var(--radius-lg);
  --size: 38px;
  --font-size: 14.6px;
  --line-height: 19.8px;
  --value-margin: 10px;
  --icon-size: 16px;
}

.md {
  --radius: var(--radius-md);
  --size: 32px;
  --font-size: var(--font-size-sm);
  --line-height: var(--line-height-sm);
  --value-margin: 8px;
  --icon-size: 14px;
}

.sm {
  --radius: var(--radius-sm);
  --size: 26px;
  --font-size: var(--font-size-xs);
  --line-height: var(--line-height-xs);
  --value-margin: 4px;
  --icon-size: 12px;
  --padding: 3.5px 16px 3.5px 28px;
  --viewport-padding: 6px 0;
  --gap: 8px;
}

/* Colors */
.inverted {
  --border: var(--divider);
  --icon-stroke: var(--fg-minor);
}

.ruby {
  --border: var(--ruby-500);
  --fg: var(--ruby-500);
  --fg-placeholder: var(--ruby-400);
  --disabled-border: var(--ruby-400);
  --disabled-fg: var(--ruby-400);
  --icon-stroke: var(--ruby-500);
}
