$emoji-size: 24px;
$preview-size: 18px;

.emoji,
.fake-emoji {
  appearance: none;
  border: none;
  outline: none;
  text-decoration: none;
  user-select: none;
  background: none;
  display: block;
  position: relative;
  width: calc($emoji-size + 10px);
  height: calc($emoji-size + 10px);

  &.preview {
    width: $preview-size;
    height: $preview-size;
  }
}

.emoji {
  --sprite-x: calc(
    calc(calc(100 / calc(var(--sheet-cols) - 1)) * var(--pos-x)) * 1%
  );
  --sprite-y: calc(
    calc(calc(100 / calc(var(--sheet-rows) - 1)) * var(--pos-y)) * 1%
  );

  &:not(.preview) {
    cursor: pointer;
    border-radius: var(--radius-md);
    outline-offset: -2px;

    &:hover {
      background-color: var(--bg-elevation-lg);
    }
  }

  &.preview {
    pointer-events: none; // Disable mouse events
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: $emoji-size;
    height: $emoji-size;
    transform: translate(-50%, -50%);
    background-image: var(--spritesheet);
    background-size: var(--sprite-size);
    background-position: var(--sprite-x) var(--sprite-y);

    &.preview {
      width: calc($preview-size - 4px);
      height: calc($preview-size - 4px);
    }
  }
}

.placeholder {
  display: block;
  position: relative;
  width: calc($emoji-size - 3px);
  height: calc($emoji-size - 3px);
  margin: 6px;
  border-radius: var(--radius-lg);
  background-color: var(--bg-elevation-lg);
}
