/* Image wrapper */
.image-wrapper {
  cursor: default;
  display: inline-block;
  position: relative;
  user-select: none;
  max-width: 100%;
  width: 100%;

  /* Editable */
  &.editable:not(.focused) {
    cursor: pointer;
  }

  /* Draggable image / hover state */
  &.fit.editable:hover,
  &.fit.draggable {
    outline: 1.5px solid var(--inverted-400);
    filter: drop-shadow(
      var(--shadow-sm)
    ); // Drop shadow for images with transparent background
  }
}

/* Aspect ratio */
.aspect-ratio {
  outline: none !important;

  &[data-layout="fit"] {
    max-width: 100%;
  }

  &[data-layout="fill"] {
    grid-column: 5 / -5;
  }

  &[data-layout="overflow"] {
    grid-column: 2 / -2;
    border-inline: 1px solid var(--divider);
  }
}

.x {
  /* Toggle */
  &.toggle {
    border-radius: 0;
  }

  /* Popover */
  &.popover {
    border: none;
    box-shadow: var(--ridge-xs);
    z-index: calc(var(--z-index-header) - 1);
  }
}

.node {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: calc(var(--z-index-header) - 1);
}
