.x {
  /* Base styles */
  &.left-sidebar {
    padding-top: 8px;
    max-height: calc(100vh - 76px);
    height: 100%;
  }

  /* Scroller */
  &.scroller {
    max-height: 100%;
    height: 100%;
  }

  /* Scroll area viewport */
  &.viewport {
    gap: 16px;
    padding-top: 16px;
    padding-bottom: 32px;
    max-height: 100%;
    justify-content: stretch;
  }

  /* Content */
  &.content {
    width: 100%;
    gap: 16px;
    padding-right: 24px;
    align-items: stretch;
    min-height: fit-content;
  }

  /* Persona */
  &.persona {
    justify-content: flex-start;
  }

  /* Tabs */
  &.tabs {
    height: fit-content;
  }

  /* Tabs list */
  &.tabs-list {
    gap: 18px;
  }

  /* Tabs group */
  &.tabs-group {
    gap: 8px;
  }

  /* Tabs group container */
  &.tabs-group-container {
    margin-left: 8px;
  }

  /* Tab */
  &.tab {
    justify-content: flex-start;
  }

  /* Footer */
  &.footer {
    position: sticky;
    top: 100%;
  }
}
