@use "breakpoints";

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size);
  line-height: var(--line-height);
  border-radius: var(--radius);
  background-color: transparent;

  &.disabled,
  &.loading {
    pointer-events: none;
  }
}

.decorator {
  display: inherit;
}

/* Sizes */
@mixin size-lg {
  --font-size: var(--font-size-md);
  --line-height: var(--line-height-md);
  --radius: var(--radius-xl);
  --icon-size: 22px;

  padding: 7px 12px;
  gap: 7.5px;
  height: 36px;
}

.lg {
  @include size-lg;
}

.md {
  --font-size: var(--font-size-sm);
  --line-height: var(--line-height-sm);
  --radius: var(--radius-lg);
  --icon-size: 16px;

  padding: 5.5px 10px;
  gap: 6.25px;
  height: 30px;
}

.sm {
  --font-size: var(--font-size-xs);
  --line-height: var(--line-height-xs);
  --radius: var(--radius-md);
  --icon-size: 14px;

  padding: 5px 10px;
  gap: 5px;
  height: 26px;
}

.xs {
  --font-size: calc(var(--font-size-xs) - 1px);
  --line-height: var(--line-height-xs);
  --radius: var(--radius-sm);
  --icon-size: 12px;

  padding: 3px 6px;
  gap: 4px;
  height: 21px;
}

.auto-size {
  @include breakpoints.media("<tablet") {
    @include size-lg;
  }
}