/* Tab */
.tab {
  padding-right: 12px !important;
}

/* Category tabs list */
.tabs-list {
  gap: 4px;
  padding-block: 12px;
  border-right: 1px solid var(--divider);
  background-color: var(--bg-elevation-sm);
}
