$list-height: 292px;

/* Base styles */
.list {
  width: 100%;
  overflow: hidden;
}

/* List wrapper */
.list-wrapper {
  margin-right: 10px;
  position: relative;
  height: calc($list-height + 10px);
}

/* Viewport */
.viewport {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  padding-inline: 12px;
}

/* Thumb */
.thumb {
  --bg: var(--inverted-200);

  flex: 1;
  background-color: var(--bg);
  border-radius: 10px;
  cursor: grab;
  position: relative;
  transition: background 160ms ease-out;

  &:active {
    cursor: grabbing;
  }
}

/* Scrollbar */
.scrollbar {
  --bg: var(--bg-elevation-sm);

  display: flex;
  user-select: none;
  touch-action: none;
  padding: 2px;
  background-color: var(--bg);
  transition: background 160ms ease-out;

  &:not(:empty):hover {
    --bg: var(--bg-elevation-md);

    & .thumb {
      --bg: var(--inverted-300);
    }
  }

  &[data-orientation="vertical"] {
    width: 10px;
  }
}

/* Category group header */
.group-header {
  &:not(:first-of-type) {
    padding-block: 18px 4px;
  }
}

/* Group title */
.group-title {
  padding-block: 8px;
}

/* Emoji row */
.emoji-row {
  justify-content: space-between;
}

/* Empty */
.empty {
  text-align: center;
  width: 100%;
  padding: 18px 12px;
  align-self: stretch;
  align-items: center;
}