/* Base styles */
.masonry {
  position: relative;
  height: 100%;
  margin: 0 auto;
}

/* Masonry item */
.item {
  position: absolute;
}

/* Mounted item */
.mounted {
  transition: transform 150ms;
}
