/* Indicator */
.indicator {
  all: unset;
  cursor: pointer;
  display: block;
  height: 14px;
  width: 14px;
  border-radius: var(--radius-xs);
  background-color: var(--fill);
  border: 1px solid var(--divider);
}
