.pattern {
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: var(--bg-body);
  background-image: radial-gradient(transparent 60%, var(--inverted-0));
}

.plus {
  opacity: 0.5;
}
