@use "breakpoints";

.svg {
  width: 100%;
  height: 100%;
  max-width: 56px;
}

.item {
  --typeface-preview-fill: var(--fg-minor);

  flex-basis: calc(25% - 12px);

  &.selected {
    --typeface-preview-fill: var(--fg-major);
  }

  @include breakpoints.media("<tablet") {
    flex-basis: calc(33.33% - 12px);
  }

  @include breakpoints.media("<mobile") {
    flex-basis: calc(50% - 12px);
  }
}

.decorator {
  max-width: 100%;
  padding-inline: 16px;
  padding-block: 16px 10px;
  background-color: var(--bg-elevation-sm);
}

.x {
  &.radio-group {
    flex-wrap: wrap;
  }
}
