.list {
  padding-block: 12px;
  gap: 32px;
}

.item {
  gap: 16px;
}

.column {
  gap: 8px;
}

.top-row {
  gap: 10px;
  align-items: flex-start !important;
}

.icon, .divider {
  margin-top: 1px;
}

.divider {
  max-height: 30px;
}
