@use "breakpoints" as breakpoints;

.x {
  /* Container */
  &.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Three digit error code */
  &.error-code {
    font-size: 128px;
    font-weight: 900; // Black
    line-height: 100%;
    padding-block: 16px;

    @include breakpoints.media("<=mobile") {
      font-size: 96px;
    }
  }

  /* Individual digit */
  &.digit {
    &:not(:first-child) {
      text-shadow: -3px 0 0 var(--bg-body);
      margin-left: -18px;
    }
  }

  /* Content */
  &.content {
    gap: 8px;
  }

  /* Description */
  &.description {
    max-width: 640px;
  }

  /* Input */
  &.input {
    width: 320px;
    max-width: 100%;
  }
}
