/* Base styles and dropzone */
.uploads,
.dropzone {
  height: 100%;
  width: 100%;
  padding: 24px;
}

/* Dropzone */
.dropzone {
  text-align: center;
  cursor: copy;
  gap: 16px;
}

/* Illustration */
.illustration {
  max-width: 236px;
}

/* Focused */
.focused {
  outline: 3px solid var(--focus);
  outline-offset: -3px;
}

/* Preview image */
.preview {
  max-height: calc(100% - 32px);
  max-width: 100%;
  height: 100%;
  border: 1px solid var(--divider);
  border-radius: var(--radius-sm);
}
