/* Base styles */
.uploads {
  height: 100%;
  width: 100%;
  gap: 16px;
  text-align: center;
  cursor: copy;
  outline-offset: calc(-1 * var(--focus-thickness));
}

/* Illustration */
.illustration {
  max-width: 236px;
}
