.uploads,
.dropzone {
  height: 100%;
  width: 100%;
}

.uploads {
  &[data-has-file="true"] {
    padding: 24px;
  }
}

.dropzone {
  text-align: center;
  cursor: copy;
  gap: 16px;
}

.illustration {
  max-width: 236px;
}

.focused {
  outline: 3px solid var(--focus);
  outline-offset: -3px;
}

.preview-wrapper {
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

.preview {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 1px solid var(--divider);
  border-radius: var(--radius-sm);
}
