.wrapper {
  --icon-size: 36px;
  --icon-stroke: var(--fg-minor);

  max-width: 100%;
  min-width: 0;
}

.details {
  text-align: left;
  min-width: 0;
}

.active-label {
  color: var(--melon-200);
}

.content {
  border-radius: var(--radius-lg);
  border: 1px solid var(--divider);
  background-color: var(--bg-elevation-xs);
  overflow: hidden;
}

.x {
  &.loader {
    background-color: var(--bg-elevation-sm);
  }

  &.login-accordion {
    border: none !important;
    padding: 8px 16px;
  }

  &.trigger {
    height: fit-content;
    padding: 0;
    outline-offset: 5px;
    border-radius: var(--radius-xs); // For outline
    max-width: 100%;

    &:hover,
    &[data-state="open"] {
      background-color: transparent;
    }
  }

  &.content-wrapper {
    padding: 0;
  }

  &.icon {
    --icon-size: 22px;

    margin-right: 16px;
  }

  &.button {
    border-radius: 0;
    padding-block: 7.5px;
    height: fit-content;
    background-color: var(--bg-body);
    border-top: 1px solid var(--divider);
  }
}
