.left-sidebar {
  max-height: calc(100vh - calc(76px + var(--banner-height, 0px)));
  height: 100%;
}

.content {
  width: 100%;
  gap: 16px;
  padding-right: 24px;
  align-items: stretch;
  min-height: fit-content;
}

.tabs-group {
  gap: 8px;
}

.tabs-group-container {
  margin-left: 8px;
}

.footer {
  position: sticky;
  top: 100%;
}

.x {
  &.scroller {
    max-height: 100%;
    height: 100%;
  }

  &.viewport {
    gap: 16px;
    padding-top: 16px;
    padding-bottom: 32px;
    max-height: 100%;
    justify-content: stretch;
  }

  &.persona {
    justify-content: flex-start;
  }

  &.tabs-list {
    gap: 18px;
  }

  &.tab {
    justify-content: flex-start;
  }
}
