.resizer {
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  z-index: 1;
  border-radius: 1px;
  box-shadow: var(--shadow-sm);
  background-color: var(--inverted-50);
  outline: 1.5px solid var(--inverted-400);
  transform: scale(0);
  animation: anchor-grow 95ms ease forwards;

  &:hover {
    background-color: var(--inverted-200);
  }

  /* North-west */
  &.nw {
    top: -6px;
    left: -6px;
    cursor: nw-resize;
  }

  /* North-east */
  &.ne {
    top: -6px;
    right: -6px;
    cursor: ne-resize;
  }

  /* South-east */
  &.se {
    bottom: -6px;
    right: -6px;
    cursor: nwse-resize;
  }

  /* South-west */
  &.sw {
    bottom: -6px;
    left: -6px;
    cursor: sw-resize;
  }
}

.resizing {
  touch-action: none;
}

@keyframes anchor-grow {
  to {
    transform: scale(1);
  }
}
