/* Base styles */
.custom-state {
  padding: var(--padding);
  gap: 8px;
  align-items: center;
}

/* Icon */
.icon {
  --icon-stroke: var(--fg-muted);
  --icon-stroke-width: 0.35px;

  padding: var(--icon-padding);
}

/* Content */
.content {
  align-items: center;
  gap: 4px;
}

/* Title */
.title {
  font-family: var(--font-primary);
  font-size: var(--title-font-size);
  line-height: var(--title-line-height);
  word-break: break-word;
}

/* Sizes */
.md {
  --icon-size: 64px;
  --icon-padding: 4px;
  --padding: 32px;
  --title-font-size: 20px;
  --title-line-height: 24px;
}

.sm {
  --icon-size: 48px;
  --icon-padding: 0;
  --padding: 24px 20px;
  --title-font-size: 18px;
  --title-line-height: 22px;
}
