.text {
  color: var(--fg-major);
}

.status {
  background-color: var(--bg-elevation-sm);
  border: 1px solid var(--divider) !important;
  border-radius: var(--radius-md);
  min-height: 31px;
  justify-content: flex-start;
  padding: 5px 8px;
  gap: 8px;

  &.editable {
    cursor: pointer;

    &:hover {
      background-color: var(--bg-elevation-md);
    }
  }

  &:not(.has-text) {
    & .text {
      color: var(--fg-minor);
      font-weight: var(--font-weight-medium);
    }
  }
}

.emoji {
  --icon-size: 14px;
  --icon-stroke: var(--fg-minor);

  &.has-emoji {
    width: 14px;
    height: 14px;
    min-width: 14px;
    font-size: 14px;
    text-align: center;
  }
}

.expiration-time {
  color: var(--fg-muted);
  font-weight: var(--font-weight-medium);
  margin-left: 12px;
}
