/* Base styles */
.preview {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  margin-left: -4px;
  border-radius: var(--radius-md);
  border: 1px solid var(--divider);

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color);
  }
}
