.x {
  &.item {
    gap: 8px;
    padding-inline: 8px;

    &:not(.has-label) {
      padding-block: 4px;
    }
  }

  &.label {
    font-size: 11px;
    line-height: 14px;
  }

  &.row {
    gap: 8px;
  }
}
