@use "../utils" as utils;

// Escape literal color name
$name: #{"plum"};
$hue: 275deg;
$light-map: (
  "100": 88,
  "200": 68,
  "300": 42
);
$dark-map: (
  "100": 22,
  "200": 45,
  "300": 78
);

@mixin light {
  @include utils.generate-color-levels($name, $hue, $light-map);
}

@mixin dark {
  @include utils.generate-color-levels($name, $hue, $dark-map);
}
