@use "breakpoints";

.content {
  padding-top: 8px;
  gap: 24px;

  @include breakpoints.media(">=tablet") {
    display: none;
  }
}

.details {
  gap: 8px;
}

.actions {
  padding-top: 16px;
  gap: 8px;
}

.tabs {
  max-width: 100vw;
  width: auto;
  overflow-x: auto;
  border-top: 1px solid var(--divider);
  padding-bottom: 12px;
  margin-inline: var(--grid-compensation);
}

.tabs-list {
  padding-inline: 16px;
  gap: 18px;
}

.icon {
  height: 24px;
  width: 24px;
  min-width: 24px;
  min-height: 24px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
