/* Base styles */
.content {
  padding: 5px 10px;
  background-color: var(--bg-elevation-sm);
  border-radius: var(--radius-md);
  box-shadow: var(--ridge-xs), var(--shadow-md);
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-medium);
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  max-height: var(--radix-tooltip-content-available-height);
  max-width: 240px;
  z-index: var(--z-index-tooltip);
  animation-duration: 300ms;
  animation-timing-function: var(--easing-short);
  will-change: transform, opacity;

  &[data-state="delayed-open"] {
    &[data-side="top"] {
      animation-name: slide-down-and-fade;
    }

    &[data-side="right"] {
      animation-name: slide-left-and-fade;
    }

    &[data-side="bottom"] {
      animation-name: slide-top-and-fade;
    }

    &[data-side="left"] {
      animation-name: slide-right-and-fade;
    }
  }
}

/* Right slot */
.right-slot {
  font-size: 11px;
}

/* Arrow */
.arrow {
  fill: var(--bg-elevation-lg);
  margin-top: -1px;
}

/* Animations */
@keyframes slide-up-and-fade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-right-and-fade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-down-and-fade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-left-and-fade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
