/* Base styles */
.right-sidebar {
  grid-area: rsb;

  &::before {
    border-left: 1px solid var(--divider);
    left: 0;
  }

  @media print {
    display: none !important;
  }
}

/* Wrapper */
.wrapper {
  padding-left: 24px;
}
