.x {
  /* Viewport */
  &.viewport {
    border: 1px solid var(--divider);
    border-radius: var(--radius-xs);
    padding-block: 8px;
    list-style: none;
  }

  /* Item icon */
  &.icon {
    padding: 4px;
  }

  /* List item */
  &.item {
    --icon-size: 16px;

    width: 100%;
    gap: 8px;
    padding: 4px 8px;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    border-radius: 0;
  }

  /* Label */
  &.label {
    color: inherit;
  }
}
