.x {
  /* Button */
  &.button {
    border-radius: 0;
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
  }

  /* Image */
  &.image {
    overflow: hidden;
    width: 100%;
    border-radius: var(--radius-xs);
    border: 1px solid var(--divider);
  }
}
