@use "breakpoints";

.viewport {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  list-style: none;
  z-index: var(--z-index-toast);
  outline: none;
}

.banner {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-block: 12px;
  padding-inline: 16px;
  background-color: var(--bg);
  border-bottom: 1px solid var(--divider);

  @include breakpoints.media(">=desktop") {
    padding-inline: 48px;
  }

  /* Colors */
  &.inverted {
    --bg: var(--inverted-400);
    --fg: var(--inverted-0);
  }

  &.lemon {
    --bg: var(--lemon-200);
    --fg: var(--obsidian);
  }

  &.ruby {
    --bg: var(--ruby-500);
    --fg: var(--snow);
  }
}

.decorator {
  --icon-size: 16px;

  margin-right: 18px;
}

.description {
  margin-right: 24px;
  flex-grow: 1;
  align-items: center;
  color: var(--fg);
  font-size: calc(var(--font-size-sm) - 1px);
  line-height: calc(var(--line-height-sm) - 1px);
}

.close {
  --icon-size: 16px;

  all: unset;
  cursor: pointer;
  border-radius: var(--radius-md); // Focus outline radius
  width: var(--icon-size);
  height: var(--icon-size);
}
