@use "breakpoints";

.banner {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0 0 0 / 0%) 45.5%, rgba(0 0 0 / 14%) 100%);
  }

  @include breakpoints.media(">=desktop") {
    height: 365px;
  }
}

.banner-img {
  object-fit: cover;
  object-position: center;
}

.content {
  --spread: calc(-1 * var(--grid-compensation));

  position: relative;
  display: flex;
  flex-direction: column;
  padding-block: 12px;
  margin-top: 300px;
  box-shadow: inset 0 0 0 100vw var(--bg-body), 0 var(--spread) 0 var(--spread) var(--bg-body);
}
