@use "breakpoints";

.banner {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0 0 0 / 0%) 45.5%, rgba(0 0 0 / 14%) 100%);
  }

  height: 116px;

  @include breakpoints.media(">=tablet") {
    height: 180px;
  }

  @include breakpoints.media(">=desktop") {
    height: 365px;
  }
}

.banner-img {
  object-fit: cover;
  object-position: center;
}

.header {
  border-top: 1px solid var(--divider);

  &.has-banner {
    top: calc(var(--header-height) - 1px);
  }
}

.content {
  --spread: 100vw;

  position: relative;
  display: flex;
  flex-direction: column;
  padding-block: 12px;
  box-shadow: inset 0 0 0 100vw var(--bg-body), 0 var(--spread) 0 var(--spread) var(--bg-body);
  margin-top: 51px;

  @include breakpoints.media(">=tablet") {
    margin-top: 115px;
  }

  @include breakpoints.media(">=desktop") {
    margin-top: 300px;
  }
}
