@use "breakpoints" as breakpoints;

.x {
  /* Avatar settings wrapper */
  &.avatar-settings-wrapper {
    padding: 12px 16px;

    @include breakpoints.media("<tablet") {
      padding: 12px 8px;
    }
  }
}
