@use "breakpoints";

.user {
  padding-block: 8px;

  @include breakpoints.media("<=mobile") {
    gap: 4px;
  }

  &.virtual {
    padding-block: 26px;

    @include breakpoints.media("<=mobile") {
      padding-block: 16px;
    }
  }
}

.main {
  gap: 24px;
}

.meta {
  gap: 10px;
}

.actions {
  gap: 8px;
}

.stats {
  gap: 8px;
}

.stat {
  gap: 6px;
}

.stat-icon {
  --icon-size: 14px;
  --icon-stroke: var(--fg-minor);
}

.bio {
  gap: 8px; // Gap for skeleton

  @include breakpoints.media(">mobile") {
    padding-left: 58px;
  }
}
