.wordmark {
  user-select: none;
  gap: 8px;
}

.label {
  display: flex;
  gap: 4px;
  font-size: var(--font-size);
  line-height: 100%;
}

.beta {
  font-size: 12px;
  line-height: 100%;
  color: var(--fg-minor);
  margin-top: -1px;
}

/* Sizes */
.lg {
  --font-size: 46px;
}

.md {
  --font-size: 28px;
}

.sm {
  --font-size: 20px;
}
