/* Item */
.item {
  overflow: hidden;

  &:not(:first-child) {
    border-top: 1px solid var(--divider);
  }

  &:last-child {
    border-bottom: 1px solid var(--divider);
  }
}

/* Icon */
.icon {
  --icon-size: 12px;
  --icon-stroke: var(--fg-minor);

  transform: rotate(180deg);
  transition: transform 250ms var(--easing-short);
}

/* Trigger */
.trigger {
  padding: 6px 8px;
  height: 28px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  line-height: 1;
  color: var(--fg-minor);
  background-color: transparent;
  outline-offset: calc(-1 * var(--focus-thickness));

  &:hover {
    background-color: var(--bg-elevation-sm);
  }

  &[data-state="open"] {
    background-color: var(--bg-elevation-md);

    & > .icon {
      transform: rotate(180deg) scale(-1);
    }
  }

  &:hover,
  &[data-state="open"] {
    color: var(--fg-major);

    & > .icon {
      --icon-stroke: var(--fg-major);
    }
  }
}

/* Content */
.content {
  overflow: hidden;

  &[data-state="open"] {
    animation: slide-down 250ms cubic-bezier(0.87, 0, 0.13, 1);
  }

  &[data-state="closed"] {
    animation: slide-up 250ms cubic-bezier(0.87, 0, 0.13, 1);
  }
}

/* Content wrapper */
.content-wrapper {
  padding: 16px 14px;
  gap: 12px;
}

/* Animations */
@keyframes slide-down {
  from {
    height: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slide-up {
  from {
    height: var(--radix-accordion-content-height);
  }

  to {
    height: 0;
  }
}
