.item {
  --ligature-preview-fill: var(--fg-minor);

  flex-grow: 1;

  &.selected {
    --ligature-preview-fill: var(--fg-major);
  }
}

.decorator {
  max-width: 100%;
  padding-inline: 16px;
  background-color: var(--bg-elevation-sm);
}

.svg {
  width: 100%;
  height: 100%;
  max-width: 144px;
}

.x {
  &.radio-group {
    flex-wrap: wrap;
  }
}
