.presence {
  gap: 18px;
}

.x {
  &.participant {
    position: relative;

    &:not(.viewer) {
      --size: 26px;

      overflow: visible;
      box-shadow:
        0 0 0 1.25px var(--bg-elevation-sm),
        0 0 0 2.75px var(--color);

      &::after {
        content: "";
        position: absolute;
        height: 1.5px;
        width: 100%;
        top: calc(100% + 10px);
        left: 50%;
        background-color: var(--color);
        transform: translateX(-50%);
      }

      &:not(.focusing) {
        &::after {
          content: none;
        }
      }
    }
  }
}
