/* Popover */
.popover {
  width: 320px;
}

/* Header */
.header {
  padding-left: 16px;
  border-bottom: 1px solid var(--divider);
  background-color: var(--bg-elevation-md);
}

/* Header icon */
.icon {
  --icon-size: 18px;

  padding: 6px;
  margin-left: -8px;
  margin-right: 6px;
}

/* Close */
.close {
  padding: 5px;
}

/* Footer */
.footer {
  padding: 12px;
  gap: 10px;
  border-top: 1px solid var(--divider);
  background-color: var(--bg-elevation-sm);
}
