@use "breakpoints";

.navigation-screen {
  gap: 24px;
  padding-block: 6px;
  margin-top: 12px;
}

.navigation-group {
  gap: 12px;
}

.item-container {
  background-color: var(--bg-elevation-xs);
  border: 1px solid var(--divider);
  border-radius: var(--radius-md);
  overflow: hidden;
}

.page-header {
  padding-block: 16px;
  padding-inline: 20px;
  justify-content: space-between !important;
  align-items: center !important;

  @include breakpoints.media("<mobile") {
    padding-inline: 16px;
  }
}

.x {
  &.logo {
    --avatar-size: 34px;
  }

  &.logo, &.fallback {
    border-radius: var(--radius-md) !important;
  }

  &.persona {
    justify-content: flex-start;
  }
}