.x {
  /* Map loader */
  &.loader {
    background-color: var(--bg-elevation-sm);
  }

  /* Base styles */
  &.login-item {
    border: none;
    padding: 8px 16px;
  }

  /* Wrapper */
  &.wrapper {
    --icon-size: 36px;
    --icon-stroke: var(--fg-minor);
  }

  /* Trigger */
  &.trigger {
    height: fit-content;
    padding: 0;
    outline-offset: 5px;
    border-radius: var(--radius-xs); // For outline

    &:hover,
    &[data-state="open"] {
      background-color: transparent;
    }
  }

  /* Content wrapper */
  &.content-wrapper {
    padding: 0;
  }

  /* Content */
  &.content {
    border-radius: var(--radius-lg);
    border: 1px solid var(--divider);
    background-color: var(--bg-elevation-xs);
    overflow: hidden;
  }

  /* Details */
  &.details {
    text-align: left;
  }

  /* Active label */
  &.active-label {
    color: var(--melon-200);
  }

  /* Chevron icon */
  &.icon {
    --icon-size: 22px;

    margin-right: 16px;
  }

  /* Logout button */
  &.button {
    border-radius: 0;
    padding-block: 7.5px;
    height: fit-content;
    background-color: var(--bg-body);
    border-top: 1px solid var(--divider);
  }
}
