.login-item {
  border: 1px solid var(--divider);
  border-radius: var(--radius-md);
  overflow: hidden;
}

.device {
  --icon-size: 36px;
  --icon-stroke: var(--fg-minor);

  padding: 12px 8px;
  justify-content: flex-start !important;
}

.details {
  text-align: left;
}

.active-label {
  color: var(--melon-200);
}

.footer-label {
  padding: 6px 8px;
}

.x {
  &.map {
    background-color: var(--bg-elevation-xs);
    border-block: 1px solid var(--divider);
  }

  &.button {
    width: 100%;
    border-radius: 0;
    border-top: 1px solid var(--divider);
  }
}
