.x {
  /* Base styles */
  &.login-item {
    border: 1px solid var(--divider);
    border-radius: var(--radius-md);
    overflow: hidden;
  }

  /* Device */
  &.device {
    --icon-size: 36px;
    --icon-stroke: var(--fg-minor);

    padding: 12px 8px;
  }

  /* Content */
  &.map {
    background-color: var(--bg-elevation-xs);
    border-block: 1px solid var(--divider);
  }

  /* Details */
  &.details {
    text-align: left;
  }

  /* Active label */
  &.active-label {
    color: var(--melon-200);
  }

  /* Footer label */
  &.footer-label {
    padding: 6px 8px;
  }

  /* Logout button */
  &.button {
    width: 100%;
    border-radius: 0;
    border-top: 1px solid var(--divider);
  }
}
