.x {
  &.right-sidebar {
    &.has-banner {
      padding-top: 140px;

      &::before {
        margin-top: 140px;
        border-left: none !important;
        left: 12px !important;
        height: calc(100% - 140px);
        border-top-left-radius: var(--radius-xl);
        background-color: var(--bg-elevation-xs);
        box-shadow: calc(50vw - 11px) 50vw 0 50vw var(--bg-elevation-xs),
        calc(50vw - 12px) calc(50vw - 1px) 0 50vw var(--divider) !important;
      }
    }
  }
}
