.x {
  &.right-sidebar {
    &.has-banner {
      padding-top: 140px;

      &::before {
        margin-top: 140px;
        border-left: none !important;
        height: calc(100% - 140px);
        border-top-left-radius: var(--radius-xl);
        background-color: var(--divider);
        box-shadow: 50vw 50vw 0 50vw var(--bg-elevation-xs),
        50vw calc(50vw - 1px) 0 50vw var(--divider) !important;
      }
    }
  }
}
