.writers {
  gap: 18px;
  padding-block: 18px;

  &.loading {
    cursor: progress;
  }
}

.writers-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  overflow-x: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.writer {
  gap: 10px;
  text-align: center;
}

.x {
  &.show-more {
    gap: 2px;
    margin-left: auto;
  }
}
