.block-cursor {
  display: block;
  pointer-events: none;
  position: absolute;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    width: 20px;
    border-top: 1px solid #000;
    animation: cursor-blink 1.1s steps(2, start) infinite;
  }
}

@keyframes cursor-blink {
  to {
    visibility: hidden;
  }
}

.paragraph {
  margin: 0;
  position: relative;

  // Add margin-top to the adjacent block nodes
  & + *:not(.paragraph) {
    margin-top: 40px;
  }
}

.indent {
  --lexical-indent-base-value: 40px;
}

.t-italic {
  font-style: italic;
}

.t-underline {
  text-decoration: underline;
}

.t-strikethrough {
  text-decoration: line-through;
}

.t-underline-strikethrough {
  text-decoration: underline line-through;
}

.t-subscript {
  font-size: 0.8em;
  vertical-align: sub !important;
}

.t-superscript {
  font-size: 0.8em;
  vertical-align: super;
}

.hashtag {
  background-color: rgb(88 144 255 / 15%);
  border-bottom: 1px solid rgb(88 144 255 / 30%);
}

.link {
  color: rgb(33 111 219);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.ol,
.ul {
  padding: 0;
  margin: 0 0 40px;
  list-style-position: inside;
}

.ol {
  &-2 {
    list-style-type: upper-alpha;
  }

  &-3 {
    list-style-type: lower-alpha;
  }
}

.li {
  margin: 0 32px;
}

.nested-li {
  list-style-type: none;
}

.embed-block {
  user-select: none;

  &.focus {
    outline: 2px solid rgb(60 132 244);
  }
}
