.block-cursor {
  display: block;
  pointer-events: none;
  position: absolute;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    width: 18px;
    border-top: 1px solid var(--fg-major);
    animation: cursor-blink 1.5s steps(2, start) infinite;
  }
}

.paragraph {
  margin: 0;
  position: relative;

  // Add margin-top to the adjacent block nodes
  & + *:not(.paragraph) {
    margin-top: 40px;
  }
}

.indent {
  --lexical-indent-base-value: 32px;
}

.link {
  &:hover {
    --bg: transparent;
  }
}

.t-italic {
  font-style: italic;
}

.t-underline {
  text-decoration: underline;
}

.t-strikethrough {
  text-decoration: line-through;
}

.t-underline-strikethrough {
  text-decoration: underline line-through;
}

.t-subscript {
  font-size: 0.8em;
  vertical-align: sub !important;
}

.t-superscript {
  font-size: 0.8em;
  vertical-align: super;
}

.ol,
.ul {
  padding: 0;
  margin: 0 0 40px;
  list-style-position: inside;
}

.ol {
  &-2 {
    margin-block: 24px;
    list-style-type: upper-alpha;
  }

  &-3 {
    margin-block: 24px;
    list-style-type: lower-alpha;
  }
}

.li {
  margin: 0 32px 12px;

  & ul {
    margin-bottom: 0;
  }
}

.nested-li {
  list-style-type: none;
  margin-block: 12px 24px;
}

.embed-block {
  user-select: none;

  &.focus {
    outline: 2px solid rgb(60 132 244);
  }
}

@keyframes cursor-blink {
  to {
    visibility: hidden;
  }
}
