/* Base styles */
.progress-bar {
  position: relative;
  overflow: hidden;
  background: var(--inverted-100);
  border-radius: 1px;
  height: var(--height);
  box-shadow: var(--ridge-slider);

  /* fix overflow clipping in Safari */
  transform: translateZ(0);
}

/* Indicator */
.indicator {
  background-color: var(--inverted-400);
  width: 100%;
  height: 100%;
  border-radius: inherit;
  transition: transform 300ms cubic-bezier(0.65, 0, 0.32, 1);
}

/* Sizes */
.lg {
  --height: 6px;
}

.md {
  --height: 4px;
}