#nprogress {
  /* Make clicks pass-through */
  pointer-events: none;
  position: relative;
  z-index: 9999;

  & .bar {
    position: fixed;
    background: var(--inverted-400);
    z-index: 1560;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
  }
}
