@use "breakpoints";

.full-w {
  width: 100%;
}

.full-h {
  height: 100%;
}

.fit-w {
  width: fit-content;
}

.fit-h {
  height: fit-content;
}

.f-grow {
  flex-grow: 1;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex,
.flex-col {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.focusable {
  &:focus-visible {
    outline: var(--focus-thickness) solid var(--focus);
  }

  &.focus-invert {
    outline-offset: calc(-1 * var(--focus-thickness));
  }
}

.hide-last {
  &:last-of-type {
    display: none;
  }
}

/* Render only above mobile */
.above-mobile {
  @include breakpoints.media("<mobile") {
    display: none !important;
  }
}

/* Render only below mobile */
.below-mobile {
  @include breakpoints.media(">=mobile") {
    display: none !important;
  }
}

/* Render only above desktop */
.above-desktop {
  @include breakpoints.media("<desktop") {
    display: none !important;
  }
}

/* Render only below desktop */
.below-desktop {
  @include breakpoints.media(">=desktop") {
    display: none !important;
  }
}
