@mixin main {
  --z-index-header: 100;
  --z-index-dropdown: 150;
  --z-index-toast: 1500;
  --z-index-tooltip: 1300;
  --z-index-popover: 1250;
  --z-index-modal: 1200;
  --z-index-backdrop: 1199;
  --z-index-popup: 1000;
}
