@use "typography/variants/main" as typography-variants;
@use "breakpoints";
@use "grid" as grid;
@use "variants";
@use "utility";

$dark-theme-selector: 'html[data-theme="dark"]';

/* Variants */
@include typography-variants.main;

@at-root {
  :root,
  .force-light-mode {
    @include variants.main;
  }

  @media not print {
    #{$dark-theme-selector},
    .force-dark-mode {
      @include variants.dark;
    }
  }
}

// Takes up the entire width, excluding the sidebars and the sidenav.
.page-header {
  align-items: stretch;
  margin-top: -12px; // Tackle padding
  position: sticky;
  top: var(--header-height);
  z-index: calc(var(--z-index-header) - 2);
  box-shadow: var(--shadow-sm);
  background-color: var(--bg-elevation-xs);

  &.with-page-title {
    top: calc(var(--header-height) + 42px);
  }
}

.grid {
  @include grid.main;
}

.grid-container {
  @include grid.row-template;

  min-height: 100%;

  &.dashboard {
    & main[data-root="true"] {
      padding-block: 0; // Disable padding

      & .page-header {
        margin-top: 0;
      }
    }
  }
}

.full-bleed {
  width: auto;
  margin-inline: var(--grid-compensation);

  &:not(.no-border) {
    border-bottom: 1px solid var(--divider);
  }

  /* Reset corner radius and styles on select trigger */
  & [data-select-trigger="true"] {
    border-radius: 0 !important;
    border: none !important;
    align-self: stretch;
    outline-offset: calc(
      -1 * var(--focus-thickness)
    ) !important; // Invert focus
  }

  /* Reset corner radius and styles on input */
  & [data-input-container="true"] {
    border-radius: 0 !important;
    flex-grow: 1;

    &:not([data-focused="true"]) {
      border: none;
    }
  }

  @include breakpoints.media("<=desktop", ">tablet") {
    margin-left: 47%;
    transform: translateX(-50%);
    width: calc(100vw - 40%);

    &.dashboard-header {
      width: calc(100vw - 78px);
      margin-left: calc(50% + 2px);
      transform: translateX(-50%);
    }
  }

  @include breakpoints.media("<=tablet") {
    width: calc(100vw - 78px);
    margin-left: calc(50% + 2px);
    transform: translateX(-50%);
  }

  @include breakpoints.media("<=mobile") {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
