// Satoshi

@font-face {
  font-family: satoshi;
  font-weight: 100 900;
  font-style: normal;
  src: url("../static/fonts/satoshi/satoshi.woff2") format("woff2");
}

@font-face {
  font-family: satoshi;
  font-weight: 100 900;
  font-style: italic;
  src: url("../static/fonts/satoshi/satoshi-italic.woff2") format("woff2");
}

// Cabinet grotesk

@font-face {
  font-family: cabinet-grotesk;
  font-weight: 100 900;
  font-style: normal;
  src: url("../static/fonts/cabinet-grotesk.woff2") format("woff2");
}

// Nunito

@font-face {
  font-family: nunito;
  font-weight: 400;
  font-style: normal;
  src: url("../static/fonts/nunito/nunito-regular.woff2") format("woff2");
}

@font-face {
  font-family: nunito;
  font-weight: 700;
  font-style: normal;
  src: url("../static/fonts/nunito/nunito-bold.woff2") format("woff2");
}

// Synonym

@font-face {
  font-family: synonym;
  font-weight: 400;
  font-style: normal;
  src: url("../static/fonts/synonym/synonym-regular.woff2") format("woff2");
}

@font-face {
  font-family: synonym;
  font-weight: 700;
  font-style: normal;
  src: url("../static/fonts/synonym/synonym-bold.woff2") format("woff2");
}

// Lora

@font-face {
  font-family: lora;
  font-weight: 400;
  font-style: normal;
  src: url("../static/fonts/lora/lora-regular.woff2") format("woff2");
}

@font-face {
  font-family: lora;
  font-weight: 700;
  font-style: normal;
  src: url("../static/fonts/lora/lora-bold.woff2") format("woff2");
}

// Erode

@font-face {
  font-family: erode;
  font-weight: 400;
  font-style: normal;
  src: url("../static/fonts/erode/erode-regular.woff2") format("woff2");
}

@font-face {
  font-family: erode;
  font-weight: 700;
  font-style: normal;
  src: url("../static/fonts/erode/erode-bold.woff2") format("woff2");
}

// Recia

@font-face {
  font-family: recia;
  font-weight: 400;
  font-style: normal;
  src: url("../static/fonts/recia/recia-regular.woff2") format("woff2");
}

@font-face {
  font-family: recia;
  font-weight: 700;
  font-style: normal;
  src: url("../static/fonts/recia/recia-bold.woff2") format("woff2");
}

// Source Serif

@font-face {
  font-family: source-serif;
  font-weight: 400;
  font-style: normal;
  src: url("../static/fonts/source-serif/source-serif-regular.woff2")
    format("woff2");
}

@font-face {
  font-family: source-serif;
  font-weight: 700;
  font-style: normal;
  src: url("../static/fonts/source-serif/source-serif-bold.woff2")
    format("woff2");
}

// IBM Plex Mono

@font-face {
  font-family: plex-mono;
  font-weight: 400;
  font-style: normal;
  src: url("../static/fonts/plex-mono/plex-mono.woff2") format("woff2");
}

@font-face {
  font-family: plex-mono;
  font-weight: 400;
  font-style: italic;
  src: url("../static/fonts/plex-mono/plex-mono-italic.woff2") format("woff2");
}

@font-face {
  font-family: plex-mono-ligatures;
  font-weight: 400;
  font-style: normal;
  src: url("../static/fonts/plex-mono/plex-mono-ligatures.woff2")
    format("woff2");
}

@font-face {
  font-family: plex-mono-ligatures;
  font-weight: 400;
  font-style: italic;
  src: url("../static/fonts/plex-mono/plex-mono-italic-ligatures.woff2")
    format("woff2");
}

// Source Code Pro

@font-face {
  font-family: source-code-pro;
  font-weight: 400;
  font-style: normal;
  src: url("../static/fonts/source-code-pro/source-code-pro.woff2")
    format("woff2");
}

@font-face {
  font-family: source-code-pro-ligatures;
  font-weight: 400;
  font-style: normal;
  src: url("../static/fonts/source-code-pro/source-code-pro-ligatures.woff2")
    format("woff2");
}

// Virgil

@font-face {
  font-family: virgil;
  font-style: normal;
  src: url("../static/fonts/virgil.woff2") format("woff2");
}

:root {
  --font-satoshi: satoshi;
  --font-cabinet-grotesk: cabinet-grotesk;
  --font-virgil: virgil;
  --font-nunito: nunito;
  --font-synonym: synonym;
  --font-lora: lora;
  --font-erode: erode;
  --font-recia: recia;
  --font-source-serif: source-serif;
  --font-plex-mono: plex-mono;
  --font-plex-mono-lig: plex-mono-ligatures;
  --font-source-code-pro: source-code-pro;
  --font-source-code-pro-lig: source-code-pro-ligatures;
}

body {
  transition: none !important; // Disable theme switch transition
}

#storybook-root {
  padding-bottom: var(--global-bottom-gutter, 0);
}
