/* Strength indicator */
.strength-indicator {
  /* Sizes */
  &.lg {
    --icon-size: 16px;
  }

  &.md {
    --icon-size: 14px;
  }
}

/* Strength icon */
.strength-icon {
  margin-top: -2px;
}

/* Strength ring */
.strength-ring {
  --track-bg: var(--inverted-50);
}

/* Strength progress ring */
.strength-progress {
  transition: all 400ms var(--easing-medium);
}
