@use "../../theme/breakpoints" as breakpoints;

/* Base styles */
.reply {
  padding-block: 12px;
  gap: 12px;

  &.virtual {
    padding-block: 22px;

    &.nested {
      padding-block: 17px; // 12px padding + (10/2)px gap
    }

    &.static {
      padding-block: 24px;

      @include breakpoints.media("<=tablet") {
        padding-block: 30px;
      }

      @include breakpoints.media("<=mobile") {
        padding-block: 20px;
      }
    }
  }
}

/* Header */
.header {
  justify-content: space-between;
  gap: 24px;
}

/* Avatar (only with reply icon) */
.avatar {
  --icon-size: 16px;

  & .fallback {
    --bg: var(--inverted-400) !important;
    --fg: var(--inverted-0) !important;
  }
}

/* Content */
.content {
  font-size: 15px;
  line-height: 20px;
}

/* Stat */
.stat {
  --icon-size: 14px;
  --icon-stroke: var(--fg-minor);

  gap: 6px;
}

/* Hidden */
.hidden {
  border: 1px solid var(--divider);
  border-radius: var(--radius-md);
  background-color: var(--bg-elevation-sm);
  padding: 8px 12px;
}

/* Content and hidden wrapper */
.content,
.hidden {
  &:not(.static) {
    margin-left: 42px;
  }
}
