.actions {
  gap: 14px;
}

.footer {
  text-align: center;
  gap: 12px;
}

.x {
  &.apple-button {
    --rigid-fg: #fff;
    --rigid-bg: #000;
  }

  &.google-button {
    --rigid-fg: #000;
    --rigid-bg: #fff;
  }

  &.apple-button,
  &.google-button {
    border: 1px solid var(--divider);

    &:hover,
    &:active {
      color: var(--rigid-fg);
      background-color: var(--rigid-bg);
      opacity: 0.75;
    }
  }
}
