@use "breakpoints";

.body {
  position: relative;
  width: 680px;
  height: 100%;
  min-height: calc(100vh - var(--header-height));
  max-width: 100%;
  margin-inline: auto;

  &.read-only {
    padding: 32px 28px;

    @include breakpoints.media("<=tablet") {
      padding-inline: 0;
    }

    @include breakpoints.media("<=mobile") {
      padding-block: 18px;
    }
  }

  & hr {
    display: block;
    position: relative;
    margin-bottom: 40px;
    height: 36px;
    border: none;
    outline: none;

    &::before {
      content: "***";
      position: absolute;
      top: 24px;
      left: 50%;
      color: var(--fg-muted);
      font-family: var(--font-satoshi);
      font-weight: 300; // Light
      font-size: 36px;
      line-height: 100%;
      letter-spacing: 10px;
      text-align: center;
      user-select: none;
      transform: translate(-50%, -50%);
    }
  }
}
