.overlay {
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 100%;
  padding: 8px;
  justify-content: end;
  background-image: linear-gradient(
    to bottom,
    transparent calc(100% - 50px),
    rgba(0 0 0 / 60%) 100%
  );

  & .link {
    color: var(--snow);
    width: 100% !important;
    max-width: 100%;
  }
}
