.content {
  background-color: var(--bg-elevation-sm);
  position: fixed;
  overflow: hidden;
  z-index: var(--z-index-modal);
  animation-timing-function: var(--easing-short);
  animation-duration: 150ms;

  &:focus {
    outline: none;
  }

  &:not(.fullscreen) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    max-width: calc(100% - 64px);
    max-height: calc(100% - 64px);
    border-radius: var(--radius-xl);
    box-shadow: var(--shadow-lg);
    border: 1px solid var(--divider);
    animation-name: content-zoom-out;
  }

  &.fullscreen {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation-name: content-zoom-in;
  }
}

.container {
  align-items: stretch;
  align-self: stretch;
  flex-direction: row;
  width: 100%;
}

.main {
  flex-grow: 1;
  flex-direction: column;
  max-width: 100%;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.body {
  padding: 18px;
  width: 100%;
  flex-grow: 1;
  min-height: 0;
}

@keyframes content-zoom-out {
  from {
    opacity: 0;
    transform: translate(-50%, -51%) scale(1.12);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes content-zoom-in {
  from {
    opacity: 0;
    transform: scale(0.96);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
