@use "breakpoints" as breakpoints;

/* Base styles */
.codes {
  padding: 12px 18px;
  display: grid;
  background-color: var(--bg-elevation-xs);
  border: 1px solid var(--divider);
  border-radius: var(--radius-xs);
  grid-template: repeat(5, auto) / repeat(2, auto);
  grid-column-gap: 24px;
  justify-content: space-between;
}

/* Content */
.content {
  gap: 24px;

  @include breakpoints.media("<=mobile") {
    flex-direction: column;
  }
}

/* Code */
.code {
  user-select: all;
  font-family: var(--font-monospace);

  &.used {
    text-decoration: line-through;
    color: var(--fg-muted);
  }
}

/* Actions */
.actions {
  gap: 10px;
}
