@use "breakpoints";

.status-header {
  padding-inline: 20px;
  padding-block: 16px;

  @include breakpoints.media(">=tablet") {
    padding-right: 0;
    padding-block: 0;
    min-height: 42px;
  }
}

.control-bar {
  align-items: stretch;
}

.x {
  &.header-button {
    @include breakpoints.media(">=tablet") {
      border-radius: 0;
      height: 100%;
      border-left: 1px solid var(--divider);
      padding-right: 20px;
    }
  }
}
