@use "breakpoints";

.x {
  /* Base styles */
  &.webpage {
    border-radius: var(--radius-md);
    border: 1px solid var(--divider);
    width: 100%;
    max-width: 420px;
    overflow: hidden;

    /* Small card */
    &.small {
      max-width: 520px;

      @include breakpoints.media("<=520px") {
        border-radius: 0;
        border-inline: none;
      }
    }

    /* Selected */
    &.selected {
      outline: 1px solid var(--inverted-400);
      outline-offset: -1px;
    }

    &:not(.small) {
      @include breakpoints.media("<=420px") {
        border-radius: 0;
        border-inline: none;
      }
    }
  }

  /* Header */
  &.header {
    padding: 12px;
    gap: 12px;
  }

  /* Footer */
  &.footer {
    padding: 12px;
  }

  /* Small card body */
  &.body {
    padding: 12px 16px;
    align-items: flex-start;
    gap: 2px;
  }

  /* Small image wrapper */
  &.small-image-wrapper {
    align-self: flex-start;
    padding: 12px;
  }

  /* Small image */
  &.small-image {
    display: inline-block;
    width: 96px;
    height: 96px;
    min-width: 96px;
    min-height: 96px;
    border-radius: var(--radius-md);
  }

  /* Small footer */
  &.small-footer {
    --icon-size: 16px;
    --icon-stroke: var(--fg-minor);

    gap: 6px;
  }
}
