@use "breakpoints";

.form {
  gap: 24px;
  align-items: stretch;
  justify-content: flex-start;
}

.input {
  width: 100%;
  max-width: 300px !important;

  @include breakpoints.media("<mobile") {
    max-width: 100% !important;
  }
}
