@use "breakpoints";

.header,
.actions,
.badges-container {
  gap: 8px;
}

.header:not(.inside-sidebar) {
  margin-top: 18px;
}

.badges-container {
  --badge-size: 24px;
}

.badge-wrapper {
  padding: 4px;
}

.properties {
  gap: 24px;

  @include breakpoints.media("<=tablet") {
    padding-block: 24px;
  }
}

.details {
  gap: 18px;
}

.stats {
  flex-wrap: wrap;
  gap: 4px 16px;
}

/* Actions (<=tablet) */
.actions:not(.inside-sidebar) {
  gap: 10px;
}

.container {
  gap: 6px;
}

.list {
  --icon-size: 14px;
  --icon-stroke: var(--fg-minor);

  gap: 4px;
  list-style: none;
}

.list-item {
  gap: 6px;
  align-items: center;
}

.connections-container {
  gap: 12px;
}

.x {
  /* Avatar */
  &.avatar {
    &:not(.inside-sidebar) {
      &.has-banner {
        overflow: initial;
        outline: 6px solid var(--bg-body);
        margin-top: -68px;

        // Semi-circular arc border
        &::before {
          content: "";
          position: absolute;
          top: -7px;
          left: 50%;
          width: 104px;
          height: 52px;
          border-top-left-radius: 52px;
          border-top-right-radius: 52px;
          border: 1px solid var(--divider);
          transform: translateX(-50%);
          border-bottom: 0;
        }
      }
    }
  }

  /* Private profile badge */
  &.badge {
    --size: 28px;
    --ring-thickness: 3px;
    --icon-size: 14px;
    --icon-stroke: var(--inverted-0);

    cursor: help;
  }

  /* Status (<=tablet) */
  &.status {
    max-width: 300px;
  }

  /* Block title */
  &.title {
    text-transform: uppercase;
    gap: 4px;
  }

  /* Badge hint icon */
  &.badge-hint {
    --icon-size: 14px;
    --icon-stroke: var(--fg-minor);

    cursor: help;
  }
}
