.loader {
  width: 100%;
  height: 100%;
  background-color: var(--bg-body);

  &.overlay {
    --icon-size: 48px;
    --icon-stroke: var(--fg-minor);
    --icon-stroke-width: 0.45px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.video {
  max-height: 96px;
  max-width: 96px;
  pointer-events: none;
}

.video-fallback {
  width: 96px;
  height: 96px;
  pointer-events: none;
}

.x {
  &.label {
    max-width: 360px;
    padding-inline: 16px;
    text-align: center;
  }
}

// Dark mode filter
@at-root html[data-theme="dark"] {
  .video, .video-fallback {
    filter: brightness(1.1);
  }
}
