.x {
  /* Base styles */
  &.loader {
    width: 100%;
    height: 100%;
    gap: 12px;
    background-color: var(--bg-body);

    /* Overlay */
    &.overlay {
      position: absolute;
      inset: 0;
    }
  }

  /* Progress bar */
  &.progress {
    width: 176px;
  }
}
