.loader {
  width: 100%;
  height: 100%;
  gap: 16px;
  background-color: var(--bg-body);

  &.overlay {
    --icon-size: 48px;
    --icon-stroke: var(--fg-minor);
    --icon-stroke-width: 0.45px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.x {
  &.progress {
    width: 176px;
  }

  &.label {
    max-width: 360px;
    padding-inline: 16px;
    text-align: center;
  }
}
