.loader {
  width: 100%;
  height: 100%;
  gap: 12px;
  background-color: var(--bg-body);

  &.overlay {
    --icon-size: 64px;
    --icon-stroke: var(--fg-minor);
    --icon-stroke-width: 0.35px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.x {
  &.progress {
    width: 176px;
  }
}
