.x {
  &.loader {
    width: 100%;
    height: 100%;
    gap: 12px;
    background-color: var(--bg-body);

    &.overlay {
      position: fixed;
      top: 0;
      left: 0;
    }
  }

  &.progress {
    width: 176px;
  }
}
