/* Container */
.container {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  flex-shrink: 0;
}

/* Base styles */
.badge {
  position: absolute;
  box-sizing: border-box;
  height: var(--size);
  width: var(--size);
  border-radius: var(--size);
  background-color: var(--bg);
  border: var(--ring-thickness) solid var(--ring-bg);
  z-index: 1;
  transition: transform 150ms var(--easing-short);
}

/* Colors */
.beryl {
  --bg: var(--beryl-200);
}

.inverted {
  --bg: var(--inverted-400);
}

.melon {
  --bg: var(--melon-100);
}

.ruby {
  --bg: var(--ruby-500);
}

.lemon {
  --bg: var(--lemon-200);
}

/* Sizes */
.sm {
  --size: 10.5px;
  --ring-thickness: 1.5px;
}

.md {
  --size: 14.25px;
  --ring-thickness: 1.75px;
}

.lg {
  --size: 18px;
  --ring-thickness: 2px;
}

.xl {
  --size: 21px;
  --ring-thickness: 3px;
}
