@use "breakpoints";

.x {
  /* Base styles */
  &.content {
    gap: 16px;
    padding-block: 24px;

    @include breakpoints.media("<=mobile") {
      gap: 12px;
      padding-block: 18px;
    }
  }

  /* Meta */
  &.meta {
    gap: 8px;
  }

  /* Meta icon */
  &.meta-icon {
    --icon-size: 36px;

    @include breakpoints.media("<=mobile") {
      --icon-size: 24px;
    }
  }

  /* Stats */
  &.stats {
    gap: 4px 16px;
  }

  /* Actions */
  &.actions {
    gap: 8px;
    flex-wrap: wrap;
    max-width: 100%;
  }
}
