.draft {
  position: relative;
  border: 1px solid var(--divider);
  border-radius: var(--radius-md);
  overflow: hidden;
}

.placeholder {
  --icon-size: 24px;
  --icon-stroke: var(--fg-muted);
}

.meta {
  border-top: 1px solid var(--divider);
  padding: 12px;
  gap: 6px;
}

.x {
  /* Splash */
  &.splash {
    display: block;
  }

  /* Edit icon button */
  &.edit-button {
    position: absolute;
    top: 12px;
    right: 12px;
  }
}
