@use "breakpoints" as breakpoints;

/* Banners */
.left-banner,
.right-banner {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  box-shadow: 0 0 0 1px var(--divider);

  @include breakpoints.media("<desktop") {
    display: none !important;
  }
}

/* Left banner */
.left-banner {
  grid-column: 2 / 5; // Overflow

  &[data-layout="screen-width"] {
    grid-column: 1 / 5;
  }
}

/* Right banner */
.right-banner {
  grid-column: 11 / -2; // Overflow

  &[data-layout="screen-width"] {
    grid-column: 11 / -1;
  }
}
