/* Container */
.container {
  position: relative;
  width: 236px;
  height: 236px;
  max-width: 100%;

  &:focus-visible {
    outline: none;
    border: var(--focus-thickness) solid var(--focus);
  }
}

/* Light overlay */
.light {
  background: linear-gradient(to right, #fff 0%, transparent 100%);
}

/* Dark overlay */
.dark {
  background: linear-gradient(to bottom, transparent 0, #000 100%);
}
