.item {
  position: relative;
  gap: 6px;
  padding-bottom: 10px;
  overflow: hidden;
}

.explicit-button {
  --icon-size: 12px;

  left: 6px;
  border-radius: var(--radius-sm);
  cursor: help;
  height: 21px;
  width: 21px;
}

.favourite-button {
  right: 6px;
}

.explicit-button,
.favourite-button {
  --bg: rgba(0 0 0 / 50%);
  --icon-stroke: var(--snow);

  position: absolute;
  top: 6px;
  background-color: var(--bg);

  &:hover,
  &:active {
    background-color: var(--bg) !important;
  }

  &.hidden {
    display: none;
  }
}

.footer {
  gap: 4px;
  justify-content: space-between;
}

.alt-text {
  cursor: pointer;

  &.empty {
    &:hover {
      color: var(--fg-major);
    }
  }
}
