.x {
  /* Base styles */
  &.tabs {
    width: fit-content;
    border-right: 1px solid var(--divider);
    background-color: var(--bg-elevation-sm);
    grid-area: tabs;
  }

  /* Tab */
  &.tab {
    --icon-size: 18px;

    padding: 8px;
    border: none;
    background-color: var(--bg);

    &:hover {
      --bg: var(--bg-elevation-md);
    }

    &[data-state="active"] {
      --bg: var(--inverted-400);

      /* Tab decorator */
      & .icon {
        --icon-stroke: var(--inverted-0);
      }
    }
  }
}
