.x {
  /* Base styles */
  &.tabs {
    width: fit-content;
    border-right: 1px solid var(--divider);
    background-color: var(--bg-elevation-sm);
  }

  /* Tab */
  &.tab {
    --icon-size: 18px;

    padding: 8px;
    border: none;

    &:hover {
      background-color: var(--bg-elevation-md);
    }
  }
}
