@use "breakpoints";

.actions {
  gap: 8px;

  &.transparent {
    gap: 12px;

    & .action {
      --icon-stroke: var(--inverted-400);
      --icon-size: 16px;
      --radius: 50%;
      --size: 32px;

      background-color: var(--bg-body);
      border: 1px solid var(--inverted-400);
      box-shadow: 0 0 12px 0 rgba(0 0 0 / 18%);

      &:hover:not(:active) {
        background-color: var(--bg-elevation-lg);
      }

      @include breakpoints.media("<mobile") {
        &:not([data-persistent]) {
          display: none;
        }
      }
    }
  }
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
  padding: 4px 12px;
  min-width: 180px;
}

.menu-item {
  border-radius: var(--radius-md);
}

.trigger {
  --icon-size: 14px;
  --icon-stroke: var(--fg-minor);

  appearance: none;
  border: none;
  outline: none;
  text-decoration: none;
  user-select: none;
  background: none;
  border-radius: 32px; // Same as avatar radius
  padding-inline-end: 6px;
  gap: 6px;
  cursor: pointer;
}

.error-avatar {
  --icon-size: 16px;
}
