@use "breakpoints";

.footer {
  border-top: 1px solid var(--divider);
  padding: 24px 20px;

  @include breakpoints.media("<=mobile") {
    padding-inline: 0;
    padding-bottom: 74px; // Compensate BottomNavigation height
  }
}

.x {
  &.support-link {
    --icon-size: 16px;

    gap: 6px;
  }
}
