.zoom {
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: background-color 0s;
  transition-delay: 250ms;

  &.active {
    background-color: var(--bg-body);
    transition-delay: 0s;
  }
}

.ghost {
  position: absolute;
  pointer-events: none;
}

.zoom-btn,
.unzoom-btn {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  color: #fff;
  height: 40px;
  margin: 0;
  outline-offset: 2px;
  padding: 9px;
  touch-action: manipulation;
  width: 40px;
  appearance: none;
}

.zoom-btn {
  position: absolute;
  inset: 10px 10px auto auto;
  cursor: zoom-in;

  &:not(:focus):not(:active) {
    position: absolute;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    pointer-events: none;
    white-space: nowrap;
    width: 1px;
  }
}

.unzoom-btn {
  position: absolute;
  inset: 20px 20px auto auto;
  cursor: zoom-out;
  z-index: 1;
}

.content {
  width: 100%;
  height: 100%;

  &[data-state="ready"] {
    img, [role="img"], [data-zoom] {
      cursor: zoom-in;
    }
  }
}

.modal {
  &::backdrop {
    display: none;
  }

  //noinspection CssOverwrittenProperties
  &[open] {
    position: fixed;
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    max-width: none;
    max-height: none;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    overflow: hidden;
  }
}

.overlay {
  position: absolute;
  inset: 0;
  transition: background-color 250ms;

  &[data-state="hidden"] {
    background-color: hsla(var(--bg-elevation-sm-hsl), 0%);
  }

  &[data-state="visible"] {
    background-color: hsla(var(--bg-elevation-sm-hsl), 100%);
  }
}

.modal-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.modal-img {
  position: absolute;
  cursor: zoom-out;
  transform-origin: top left;
  transition: transform 250ms;

  & img {
    image-rendering: high-quality;
  }
}

@media (prefers-reduced-motion: reduce) {
  .overlay,
  .modal-img {
    transition-duration: 0.01ms !important;
  }
}
