$active-color: #ff4680;

/* Heart icon SVG */
.icon {
  --icon-size: 1em;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.heart {
  position: relative;
  width: 16px;
  height: 16px;
  font-size: 16px;

  &.active {
    --icon-stroke: #{$active-color};

    &:not([data-animate="false"]) {
      animation: heart 420ms cubic-bezier(0, 1.19, 0.42, 2);
    }
  }
}

@keyframes heart {
  0%,
  13% {
    font-size: 0;
  }
}
