$bubble-dia: 2.5rem;
$sparkle-dia: 0.375rem;
$bubble-rad: $bubble-dia / 2;
$sparkle-rad: $sparkle-dia / 2;
$bubble-color: #8ed6f5;
$active-color: #ff4680;

// noinspection ALL
:export {
  BUBBLE_DIA: $bubble-dia;
  SPARKLE_DIA: $sparkle-dia;
}

@mixin bubble($size) {
  transform: scale(1);
  border-color: #{$bubble-color};
  border-width: $size;
}

/* Heart icon SVG */
.icon {
  --icon-size: 1em;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Heart */
.heart {
  position: relative;
  width: 16px;
  height: 16px;
  font-size: 16px;
  z-index: 0;
  filter: grayscale(1);

  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    border-radius: 50%;
  }

  &::before {
    margin: -$bubble-rad;
    border: solid $bubble-rad #{$active-color};
    width: $bubble-dia;
    height: $bubble-dia;
    transform: scale(0);
  }

  &::after {
    margin: -$sparkle-rad;
    width: $sparkle-dia;
    height: $sparkle-dia;
    box-shadow: var(--spread-active);
  }

  /* Active state */
  &.active {
    --icon-stroke: #{$active-color};

    filter: none;

    &:not([data-animate="false"]) {
      animation: heart 960ms cubic-bezier(0, 1.19, 0.42, 1.63);

      &::before,
      &::after {
        animation: inherit;
        animation-timing-function: ease-out;
      }

      &::before {
        will-change: transform, border-width, border-color;
        animation-name: bubble;
      }

      &::after {
        will-change: opacity, box-shadow;
        animation-name: sparkles;
      }
    }
  }
}

@keyframes heart {
  0%,
  13% {
    font-size: 0;
  }
}

@keyframes bubble {
  15% {
    @include bubble($bubble-rad);
  }

  30%,
  100% {
    @include bubble(0);
  }
}

@keyframes sparkles {
  0%,
  20% {
    opacity: 0;
  }

  25% {
    opacity: 1;
    box-shadow: var(--spread-none);
  }
}
