.viewport {
  --viewport-padding: 18px;

  position: fixed;
  bottom: var(--global-bottom-gutter, 0);
  left: 50%;
  display: flex;
  padding: var(--viewport-padding);
  max-width: calc(100vw - 32px);
  margin: 0;
  list-style: none;
  z-index: var(--z-index-toast);
  outline: none;
  transform: translateX(-50%);
}

.toast {
  background-color: var(--bg-elevation-sm);
  border-radius: var(--radius-xl);
  box-shadow: var(--ridge-md), var(--shadow-md);
  max-width: 720px;
  user-select: none;
  display: flex;
  align-items: center;

  @media (max-width: 750px) {
    max-width: 100%;
  }
}

.decorator {
  --icon-size: 16px;
  --fg: var(--inverted-negative);

  padding-right: 12px;
  display: inline-flex;
}

.description {
  margin: 8px 12px;
  flex-grow: 1;
  max-width: 100%;
  display: flex;
  overflow: hidden;
}

.close {
  --icon-size: 14px;

  appearance: none;
  border: none;
  outline: none;
  text-decoration: none;
  user-select: none;
  background: none;
  padding: 9px;
  border-left: 1px solid var(--divider);

  & .close-wrapper {
    padding: 2px;
    cursor: pointer;
    border-radius: var(--radius-md);
    background-color: var(--bg-elevation-md);

    &:hover {
      background-color: var(--bg-elevation-lg);
    }
  }

  &:focus-visible {
    & .close-wrapper {
      outline: var(--focus-thickness) solid var(--focus);
    }
  }
}

.child {
  min-width: 0;
  color: var(--fg-major);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-sm);
}
