.tags {
  gap: 18px;
  padding-block: 18px;

  &.loading {
    cursor: progress;
  }
}

.tags-list {
  flex-wrap: wrap;
  gap: 12px;
}

.x {
  &.tag {
    flex-grow: 1;
  }

  &.show-more {
    gap: 2px;
    margin-left: auto;
  }

  &.skeleton {
    border-radius: var(--radius-lg);
    flex-grow: 1;
  }
}
