/* Image wrapper */
.image-wrapper {
  position: relative;
  cursor: pointer;

  &:hover,
  &:focus-visible,
  &:focus-within {
    & .overlay {
      visibility: visible;
    }
  }

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
    border-radius: var(--radius-md);
  }

  &:focus-visible {
    &::after {
      box-shadow: 0 0 0 1px var(--focus) inset,
        0 0 0 5px var(--bg-elevation-xs) inset;
    }
  }

  &[data-selected="true"] {
    &::after {
      box-shadow: 0 0 0 3px var(--inverted-400) inset,
        0 0 0 6px var(--bg-elevation-xs) inset;
    }
  }
}

/* Image */
.image {
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-xs);
}

/* Image child */
.image-child {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}
