.x {
  /* Input field and select trigger */
  &.input,
  &.select-trigger {
    border-radius: 0;
  }

  /* Input */
  &.input {
    &:not([data-focused="true"]) {
      border: none;
    }
  }

  /* Select trigger */
  &.select-trigger {
    border: none;
  }
}
