/* Base styles */
.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: calc(var(--z-index-tooltip) + 1);
  background-color: var(--bg-body);

  @media print {
    display: none !important;
  }
}

/* Children */
.children {
  justify-content: center;
  align-items: center;
  padding-top: 24px;
}
