@use "breakpoints";

.hero {
  height: calc(100vh - var(--header-height));
  padding-top: 50px;
}

.tagline {
  max-width: 640px;
}

.splash-image {
  max-width: 960px;
  width: 100%;

  @include breakpoints.media(">=desktop") {
    min-width: 960px;
  }
}

.article {
  padding-block: 64px;
  gap: 72px;

  @include breakpoints.media("<mobile") {
    margin-top: calc(60vh - var(--header-height));
    gap: 42px;
  }
}

.section {
  display: flex;
  gap: 24px;

  & img {
    width: 100%;
    max-width: 100%;
  }

  @include breakpoints.media("<tablet") {
    flex-direction: column;
    align-items: center;

    & .section-title {
      position: relative;
      top: 0;
    }
  }
}

.section-content {
  padding-inline: 48px;
  gap: 64px;

  @include breakpoints.media("<mobile") {
    padding-inline: 0;
  }
}

.actions {
  padding-block: 8px;
  flex-wrap: wrap;
  gap: 8px;
}

.x {
  &.section-title {
    height: fit-content;

    @include breakpoints.media(">=tablet") {
      position: sticky;
      top: calc(var(--header-height) + 24px);
    }
  }

  &.tagline p {
    font-weight: 700;
  }
}


// New

.wordmark {
  max-width: 420px;

  @include breakpoints.media("<mobile") {
    max-width: 70vw;
  }
}

