/* Sizes */
.xs {
  --size: 18px;
  --font-size: 7px;
}

.sm {
  --size: 24px;
  --font-size: 9px;
}

.md {
  --size: 32px;
  --font-size: 11px;
}

.lg {
  --size: 48px;
  --font-size: 16px;
}

.xl {
  --size: 64px;
  --font-size: 20px;
}

.xl2 {
  --size: 92px;
  --font-size: 26px;
}



