.overlay {
  position: fixed;
  inset: 0;
  z-index: var(--z-index-backdrop);

  &:not(.fullscreen) {
    background-color: var(--bg-backdrop);
    animation: overlay-appear 200ms var(--easing-short);
  }
}

@keyframes overlay-appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
