/* Base styles */
.toggle-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--bg, transparent);
  border-radius: var(--radius);
  height: var(--size);
  width: var(--size);
  min-height: var(--size);
  min-width: var(--size);

  &:disabled {
    --icon-stroke: var(--fg-muted);

    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    --bg: var(--inverted-50);
  }

  &[data-state="on"] {
    --bg: var(--bg-toggle);
    --icon-stroke-width: 0.8px;

    &:disabled {
      --bg: var(--inverted-50);
    }
  }
}

/* Container */
.container {
  width: fit-content;
  padding: 0 0.75px;
}

/* Sizes */
.lg {
  --radius: var(--radius-xl);
  --size: 36px;
  --icon-size: 22px;
}

.md {
  --radius: var(--radius-lg);
  --size: 30px;
  --icon-size: 18px;
}

.sm {
  --radius: var(--radius-md);
  --size: 26px;
  --icon-size: 14px;
}

.xs {
  --radius: var(--radius-sm);
  --size: 21px;
  --icon-size: 12px;
}
