.chevron {
  --icon-size: 12px;
  --icon-stroke: var(--fg-minor);
}

.editor-navbar {
  padding-block: 10px;
  max-height: var(--header-height);
  min-height: var(--header-height);
  z-index: var(--z-index-header);
  grid-area: hd;
  position: sticky;
  top: var(--banner-height, 0);
  display: flex;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 50%;
    z-index: -1;
    speak: none;
    transform: translateX(-50%);
    box-shadow: var(--shadow-sm);
    background-color: var(--bg-elevation-sm);
    border-bottom: 1px solid var(--divider);
  }

  @media print {
    display: none !important;
  }
}

.full-height {
  margin-block: -10px;
  height: calc(100% + 20px);
}

.x {
  &.menu {
    gap: 6px;
    padding: 0 6px;
    height: 100%;
    border-radius: 0;
  }

  &.button {
    height: 100%;
    width: 40px;
    border-radius: 0;
  }
}
