.primary-text {
  display: inline-flex;
  flex-direction: column;
  gap: 2px;
  font-weight: var(--font-weight-medium);
}

.secondary-text {
  font-weight: var(--font-weight-medium);
}

.persona {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);

  &.sm {
    & .secondary-text {
      font-size: calc(var(--font-size-xs) - 1px);
      margin-top: -2px;
    }
  }
}

/* Sizes */
.lg {
  --gap: 12px;
}

.md {
  --gap: 10px;
}

.sm {
  --gap: 8px;
}

.xs {
  --gap: 6px;
}
