/* Base styles */
.footer {
  width: 100%;
  min-height: fit-content;
  display: flex;
  border-top: 1px solid var(--divider);
  align-items: center;

  &:not(.compact) {
    justify-content: flex-end;
    padding: 12px;
    gap: 10px;
  }
}
