.icon {
  padding: 4px;
}

.x {
  &.item {
    --icon-size: 16px;

    width: 100%;
    gap: 8px;
    padding: 4px 8px;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    border-radius: 0;
  }

  &.label {
    color: inherit;
  }
}
