.x {
  /* Actions */
  &.actions {
    gap: 14px;
  }

  /* Apple button */
  &.apple-button {
    --rigid-fg: #fff;
    --rigid-bg: #000;
  }

  /* Google button */
  &.google-button {
    --rigid-fg: #000;
    --rigid-bg: #fff;
  }

  /* Social buttons */
  &.apple-button,
  &.google-button {
    border: 1px solid var(--divider);

    &:hover,
    &:active {
      color: var(--rigid-fg);
      background-color: var(--rigid-bg);
      opacity: 0.75;
    }
  }

  /* Footer */
  &.footer {
    text-align: center;
    gap: 12px;
  }
}
