@use "../../../../../../packages/ui/src/theme/breakpoints" as breakpoints;

/* Article */
.article {
  padding: 20px;
  flex-grow: 1; // Push footer to bottom

  @include breakpoints.media("<=mobile") {
    padding: 18px 0;
  }
}
