.tabs-group {
  gap: 12px;
}

.tabs-group-container {
  margin-left: 16px;
}

.x {
  &.tabs {
    max-height: calc(100vh - 52px);
  }

  &.tabs-list {
    gap: 16px;
  }

  &.tab {
    justify-content: flex-start;
  }

  &.viewport {
    padding: 24px 0;
  }
}
