.x {
  /* Zoom menu and canvas pattern */
  &.primary-controls {
    position: absolute;
    gap: 8px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  /* Zoom */
  &.zoom {
    border: 1px solid var(--divider);
    border-radius: var(--radius-md);
    overflow: hidden;
    background-color: var(--inverted-0);
    box-shadow: var(--ridge-sm);
  }

  /* Zoom icon button */
  &.zoom-icon-button {
    --icon-size: 12px;

    padding: 8px;
    height: 28px;
    width: 28px;
    border-radius: 0;
  }

  /* Zoom trigger button */
  &.zoom-trigger {
    --icon-size: 12px;

    gap: 4px;
    padding: 8px;
    height: 28px;
    font-size: 11px;
    border-radius: 0;
    border-inline: 1px solid var(--divider);
  }

  /* Zoom input wrapper */
  &.zoom-input-wrapper {
    padding: 2px 8px;
    width: 128px;
  }

  /* Viewport */
  &.viewport {
    --viewport-padding: 8px;

    flex-wrap: wrap;
    gap: 6px;
    width: 54px;
    height: 76px;
  }

  /* Option */
  &.option {
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: var(--radius-md);
    border: 1px solid var(--divider);
    background-color: var(--bg-elevation-xs);

    &[data-highlighted] {
      outline: 2px solid var(--focus);
      outline-offset: -1px;
    }

    &[data-state="checked"] {
      outline: 2.5px solid var(--inverted-400);
      outline-offset: -1px;
    }
  }

  /* Pattern trigger */
  &.pattern-trigger {
    background-color: var(--inverted-0);
    box-shadow: var(--ridge-sm);
  }

  /* Pattern SVG */
  &.pattern-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
  }

  /* Stats button */
  &.stats-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 1px solid var(--divider);
    background-color: var(--inverted-0);
    box-shadow: var(--ridge-sm);
  }
}
