@use "breakpoints";

/* Base styles */
.embed {
  display: block;
  position: relative;
  user-select: none;
  max-width: 100%;
  width: 100%;
}

/* Content */
.content {
  position: relative;
  outline: none !important; // Disable focus outline
  background-color: var(--bg-body);
  z-index: 1; // Move above the left and right banners
  width: auto !important; // Override provider width
  min-height: 120px;

  /* Ratio */
  &::before {
    content: "";
    pointer-events: none;
    padding-bottom: var(--padding-desktop, 0);
  }

  /* Pseudo element for selected outline */
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    outline-offset: -1px;
  }

  /* Loading */
  &[data-loading="true"],
  &.error {
    min-height: 350px;
    background-color: var(--bg-elevation-sm);
  }

  /* Fill layout */
  &[data-layout="fill"] {
    grid-column: 5 / -5;
    margin-inline: var(--grid-compensation);
  }

  /* Overflow layout (stretch over both the sidebars) */
  &[data-layout="overflow"] {
    grid-column: 2 / -2;
  }

  /* Full bleed */
  @include breakpoints.media("<desktop") {
    width: 100vw !important;
    margin-inline: 0 !important;
    grid-column: unset !important;
  }

  @include breakpoints.media("<=mobile") {
    &::before {
      padding-bottom: var(--padding-mobile, var(--padding-desktop, 0));
    }
  }
}

/* Embed container */
.container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; // Stay below the sidebars

  &[data-layout="overflow"] {
    // Stay above the sidebars
    z-index: calc(var(--z-index-header) - 1);
  }

  /* Embed content */
  & .content {
    cursor: default;
  }

  /* Editable */
  &.editable:not(.metadata) {
    &:not(.selected) {
      & .content {
        cursor: pointer;
        pointer-events: none; // Make the embed non-interactive until clicked
      }
    }

    /* Show a selected outline */
    &.selected {
      & .content {
        &::after {
          outline: 1px solid var(--inverted-400);
        }
      }
    }
  }
}

.x {
  /* Button */
  &.button {
    border-radius: 0;
  }

  /* Popover */
  &.popover {
    border: none;
    box-shadow: var(--ridge-xs);
    z-index: calc(var(--z-index-header) - 1);
    align-items: stretch;
  }
}
