.container {
  --border-width: 1px;
  --bg: var(--bg-body);

  border-radius: var(--radius);
  border: var(--border-width) solid var(--border);
  background-color: var(--bg);
  color: var(--fg);
  min-height: var(--size);
  padding: calc(2px - var(--border-width));
  overflow: hidden;

  &:hover {
    background-color: var(--bg-elevation-xs);
  }

  &.focused {
    --border-width: 2px;
  }

  &.disabled {
    --fg: var(--fg-muted);
    --border: var(--disabled-border, transparent);

    background-color: var(--bg-elevation-md);
    cursor: not-allowed;
    user-select: none;
  }
}

.textarea {
  padding: 7px 11px;
  flex: 1 1 auto;
  align-self: stretch;
  font-size: var(--font-size);
  line-height: var(--line-height);
  min-height: var(--min-height);
  color: inherit;
  word-wrap: break-word;
  resize: none;

  &::placeholder {
    color: var(--fg-muted);
    opacity: 1;
    user-select: none;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: var(--inverted-100);
    outline: 1px solid var(--inverted-200);

    &:hover {
      background-color: var(--inverted-200);
    }
  }
}

/* Sizes */
.md {
  --radius: var(--radius-lg);
  --size: 32px;
  --min-height: 96px;
  --font-size: 14.6px;
  --line-height: 19.8px;
}

.sm {
  --radius: var(--radius-md);
  --size: 26px;
  --min-height: 64px;
  --font-size: var(--font-size-xs);
  --line-height: var(--line-height-xs);
}

/* Colors */
.inverted {
  --border: var(--divider);

  &.focused {
    --border: var(--inverted-400);
  }
}

.ruby {
  --border: var(--ruby-500);
  --disabled-border: var(--ruby-400);

  &.focused {
    --border: var(--ruby-500);
  }
}
