$transparent-grid: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJUlEQVQYV2MUFRX9z4AGXr9+zYguxjgUFKI7GsTH5m4M3w1ChQDPfxpBb1jN9wAAAABJRU5ErkJggg");

/* Base styles */
.canvas-container {
  grid-area: canvas;
  position: relative;
  overflow: hidden;
  background-color: var(--inverted-0);
}

/* Canvas background */
.canvas-background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: $transparent-grid;
  background-repeat: repeat;
}

/* Canvas */
.canvas {
  width: 100%;
  height: 100%;
}
