/* Base styles */
.container {
  --border-width: 1px;
  --bg: var(--bg-body);

  border-radius: var(--radius);
  border: var(--border-width) solid var(--border);
  background-color: var(--bg);
  color: var(--fg);
  min-height: var(--size);
  padding: calc(2px - var(--border-width));
  overflow: hidden;
  max-width: 100%;

  &:hover {
    background-color: var(--bg-elevation-xs);
  }

  &.focused {
    --border-width: 2px;
  }

  &.disabled {
    --fg: var(--fg-muted);
    --border: var(--disabled-border, transparent);
    --icon-stroke: var(--decorator-disabled-fg);

    background-color: var(--bg-elevation-md);
    cursor: not-allowed;
    user-select: none;
  }
}

/* Input */
.input {
  padding: 0 8px;
  flex: 1 1 auto;
  align-self: stretch;
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: inherit;
  text-overflow: ellipsis;
  min-width: 0;

  &::placeholder {
    color: var(--fg-muted);
    opacity: 1;
    user-select: none;
  }

  &[type="number"] {
    // noinspection Stylelint
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      // noinspection Stylelint
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &[type="search"] {
    &::-webkit-search-cancel-button {
      appearance: none;
      display: inline-block;
      cursor: pointer;
      width: var(--clear-icon-size);
      height: var(--clear-icon-size);
      margin-left: 8px;

      /* X icon */
      background: linear-gradient(
          45deg,
          transparent 0%,
          transparent 43%,
          var(--inverted-400) 45%,
          var(--inverted-400) 55%,
          transparent 57%,
          transparent 100%
        ),
        linear-gradient(
          135deg,
          transparent 0%,
          transparent 43%,
          var(--inverted-400) 45%,
          var(--inverted-400) 55%,
          transparent 57%,
          transparent 100%
        );
    }
  }
}

/* Decorator */
.decorator {
  display: inherit;
  margin-left: 8px;
}

/* End decorator */
.end-decorator {
  --bg: var(--decorator-bg);
  --fg: var(--decorator-fg);

  background-color: var(--bg);
  color: var(--fg);
  align-self: stretch;
  margin: -1px;

  &.disabled {
    --bg: var(--decorator-disabled-bg);
    --fg: var(--decorator-disabled-fg);
  }

  &:not(.disabled):hover {
    --bg: var(--decorator-hover-bg);
  }

  & svg {
    --icon-stroke: var(--decorator-fg) !important;
  }

  & > * {
    align-self: stretch;
    background-color: transparent !important;
    border: none !important;
    outline-offset: calc(-1 * var(--focus-thickness));

    /* Select trigger content */
    & [data-value] {
      margin-right: 4px;
    }
  }
}

/* Spinner */
.spinner {
  --bg: var(--spinner-bg, transparent);
  --fg: var(--spinner-fg);
  --icon-size: var(--spinner-icon-size);
  --icon-stroke: var(--fg);

  display: inherit;
  cursor: pointer;
  padding: 5px 6px;
  background-color: var(--bg);

  &:disabled {
    --bg: var(--spinner-disabled-bg);
    --fg: var(--spinner-disabled-fg);

    cursor: not-allowed;
  }

  &:first-child {
    border-radius: var(--radius-sm) 0 0 var(--radius-sm);
  }

  &:last-child {
    border-radius: 0 var(--radius-sm) var(--radius-sm) 0;
  }

  &:not(:disabled):hover {
    --bg: var(--spinner-hover-bg);
  }
}

/* Spinner separator */
.spinner-separator {
  --bg: var(--spinner-separator-bg, var(--divider));

  align-self: stretch;
  width: 1px;
  background-color: var(--bg);
}

/* Spinner container */
.spinner-container {
  padding: 0 var(--spinner-padding);
}

/* Sizes */
.lg {
  --radius: var(--radius-lg);
  --size: 38px;
  --font-size: 14.6px;
  --line-height: 19.8px;
  --icon-size: 18px;

  /* Spinner */
  --spinner-icon-size: 18px;
  --spinner-padding: 4px;

  /* Clear icon */
  --clear-icon-size: 12px;
}

.md {
  --radius: var(--radius-md);
  --size: 32px;
  --font-size: var(--font-size-sm);
  --line-height: var(--line-height-sm);
  --icon-size: 16px;

  /* Spinner */
  --spinner-icon-size: 14px;
  --spinner-padding: 2.5px;

  /* Clear icon */
  --clear-icon-size: 10px;
}

.sm {
  --radius: var(--radius-sm);
  --size: 26px;
  --font-size: var(--font-size-xs);
  --line-height: var(--line-height-xs);
  --icon-size: 14px;

  /* Clear icon */
  --clear-icon-size: 8px;
}

/* Colors */
.inverted {
  /* Container */
  --border: var(--divider);
  --icon-stroke: var(--fg-minor);

  /* Decorator */
  --decorator-bg: var(--bg-elevation-md);
  --decorator-fg: var(--fg-minor);
  --decorator-hover-bg: var(--bg-elevation-lg);
  --decorator-disabled-bg: transparent;
  --decorator-disabled-fg: var(--fg-muted);

  /* Spinner */
  --spinner-fg: var(--fg-minor);
  --spinner-hover-bg: var(--bg-elevation-md);
  --spinner-disabled-fg: var(--fg-muted);

  &.focused {
    /* Container */
    --border: var(--inverted-400);
    --icon-stroke: var(--fg-major);

    /* Decorator */
    --decorator-bg: var(--inverted-400);
    --decorator-fg: var(--inverted-0);
    --decorator-hover-bg: var(--inverted-300);
    --decorator-disabled-bg: var(--inverted-200);
    --decorator-disabled-fg: var(--fg-muted);

    /* Spinner */
    --spinner-separator-bg: var(--inverted-200);
    --spinner-bg: var(--inverted-400);
    --spinner-fg: var(--inverted-0);
    --spinner-hover-bg: var(--inverted-300);
    --spinner-disabled-bg: var(--inverted-200);
    --spinner-disabled-fg: var(--fg-muted);
  }
}

.ruby {
  /* Container */
  --border: var(--ruby-500);
  --disabled-border: var(--ruby-400);
  --icon-stroke: var(--ruby-500);

  /* Decorator */
  --decorator-bg: var(--bg-elevation-md);
  --decorator-fg: var(--ruby-500);
  --decorator-hover-bg: var(--bg-elevation-lg);
  --decorator-disabled-bg: transparent;
  --decorator-disabled-fg: var(--ruby-400);

  /* Spinner */
  --spinner-fg: var(--ruby-500);
  --spinner-hover-bg: var(--bg-elevation-md);
  --spinner-disabled-fg: var(--ruby-400);

  &.focused {
    /* Container */
    --border: var(--ruby-500);
    --icon-stroke: var(--ruby-600);

    /* Decorator */
    --decorator-bg: var(--ruby-500);
    --decorator-fg: var(--snow);
    --decorator-hover-bg: var(--ruby-400);
    --decorator-disabled-bg: var(--ruby-300);
    --decorator-disabled-fg: var(--ruby-100);

    /* Spinner */
    --spinner-separator-bg: var(--ruby-100);
    --spinner-bg: var(--ruby-500);
    --spinner-fg: var(--snow);
    --spinner-hover-bg: var(--ruby-400);
    --spinner-disabled-bg: var(--ruby-300);
    --spinner-disabled-fg: var(--ruby-100);
  }
}
