@use "breakpoints";

.story {
  padding-block: 12px;
  gap: 8px;

  &.virtual {
    padding-block: 34px;

    @include breakpoints.media("<tablet") {
      padding-block: 30px;
    }

    @include breakpoints.media("<mobile") {
      padding-block: 20px;
    }
  }
}

.main {
  justify-content: space-between;
  gap: 16px;

  @include breakpoints.media(">=mobile") {
    &.large {
      flex-direction: column-reverse !important;
    }
  }

  @include breakpoints.media("<mobile") {
    flex-direction: column;
    gap: 12px;

    & .description {
      display: none;
    }

    & .title {
      font-size: 18px !important;
      line-height: 22px !important;
    }

    & .persona {
      padding-block: 6px;
    }

    & .footer {
      padding-top: 8px;
    }
  }
}

.meta {
  gap: 8px;
}

.title {
  font-size: 22px !important;
  line-height: 24px !important;
  border-radius: var(--radius-xs); // Focus outline radius
  outline-offset: 3px;

  &.small {
    font-size: 20px !important;
  }
}

.persona {
  width: fit-content;
}

.deleted-label {
  --icon-size: 16px;
  --icon-stroke: var(--fg-minor);

  align-items: center;
}

.splash {
  --size: 270px;

  &.small {
    --size: 230px;
  }

  min-width: var(--size);
  max-width: var(--size);
  border-radius: var(--radius-xs);
  align-self: flex-start;
  position: relative;

  @include breakpoints.media(">=mobile") {
    &.large {
      --size: 100% !important;

      height: 240px;

      & .splash-img {
        object-position: center;
        object-fit: cover;
      }
    }
  }

  @include breakpoints.media("<800px") {
    &:not(.large) {
      --size: 200px !important;
    }
  }

  @include breakpoints.media("<mobile") {
    --size: 100vw !important;

    margin-inline: var(--grid-compensation);
    width: auto;
    border-radius: 0;
  }
}

.mobile-actions {
  position: absolute;
  gap: 6px;
  top: 12px;
  right: 12px;
}

.footer {
  padding-top: 8px;
  gap: 12px;
  align-items: center;

  @include breakpoints.media("<mobile") {
    flex-wrap: wrap;
  }
}

.stat {
  --icon-size: 16px;
  --icon-stroke: var(--fg-minor);

  gap: 6px;
}

.tags-container {
  gap: 6px;
}
