@use "breakpoints";

.container {
  position: relative;
  padding: 32px;
  min-height: 250px;
  max-width: 460px;
  width: 100%;
  margin: auto;
  overflow-x: hidden;
  background-color: var(--bg-elevation-xs);
  border: 1px solid var(--divider);
  border-radius: var(--radius-xl);
  box-shadow: var(--shadow-lg);

  @include breakpoints.media("<mobile") {
    background-color: var(--bg-body);
    box-shadow: none;
    border-radius: 0;
    border: none;
    padding: 32px 16px;
    min-height: 100%;
    max-width: 100%;
  }
}

.x {
  &.main {
    grid-column: 6 / -6;
    place-content: center;
    z-index: 1;
    padding-block: 0 !important;

    @include breakpoints.media("<desktop") {
      grid-column: 4 / -4;
    }

    @include breakpoints.media("<tablet") {
      grid-column: 8 / -8;
    }

    @include breakpoints.media("<mobile") {
      grid-column: 1 / -1;
    }
  }
}
