@use "breakpoints";

.section {
  width: 100%;
  position: relative;
  align-items: flex-end;
  justify-content: space-between;
  margin-block: 1px;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: calc(100% + 2px);
    background: linear-gradient(180deg, #a6aad3 0%, #8d8bd3 100%);
    border-block: 1px solid var(--inverted-400);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
    z-index: -1;
  }

  @include breakpoints.media("<1400px") {
    justify-content: center;
    align-items: center;
  }
}

.container {
  padding: 20px 16px;
  margin: 64px 16px;
  gap: 8px;
  align-items: stretch !important;
  border-radius: var(--radius-md);
  background: rgba(255 255 255 / 32%);
  box-shadow: 0 0 12px 0 rgba(0 0 0 / 10%);

  @include breakpoints.media("<mobile") {
    width: 100%;
  }
}

.video {
  display: block;
  max-height: 300px;
  max-width: 300px;
  margin-top: auto;
}

.video-wrapper {
  position: relative;
  pointer-events: none;
  overflow-y: hidden;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(50% 50% at 50% 50%, #fff 0%, rgba(255 255 255 / 0%) 18%), radial-gradient(50% 50% at 50% 50%, #ccd8ef 9%, rgba(163 140 212 / 0%) 100%);
    top: calc(50% + 5px);
    z-index: -1;
    opacity: 0.6;
  }

  @include breakpoints.media("<1400px") {
    display: none;
  }
}

.features {
  gap: 24px;

  @include breakpoints.media("<mobile") {
    flex-direction: column;
    gap: 12px;
  }

  & > div {
    gap: 12px;
    align-items: flex-start;
  }
}
