@use "breakpoints";

.error-state {
  padding: var(--padding);
  gap: 8px;
  align-items: center;
}

.icon {
  --icon-stroke: var(--fg-muted);
  --icon-stroke-width: 0.35px;

  padding: var(--icon-padding);
}

.content {
  align-items: center;
  gap: 4px;
}

/* Sizes */
@mixin size-sm {
  --icon-size: 36px;
  --icon-padding: 0;
  --padding: 24px 20px;
}

.md {
  --icon-size: 64px;
  --icon-padding: 4px;
  --padding: 32px;
}

.sm {
  @include size-sm;
}

.auto-size {
  @include breakpoints.media("<mobile") {
    @include size-sm;
  }
}
