.controls {
  z-index: 0;
  border-top: 1px solid var(--divider);
  gap: 18px;
  padding-inline: 12px;
  padding-top: 16px;
  padding-bottom: 12px;
}

.controls-wrapper {
  gap: 10px;
}

.sliders {
  gap: 12px;
}
