.indicator {
  appearance: none;
  outline: none;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  display: block;
  height: 14px;
  width: 14px;
  border-radius: var(--radius-xs);
  background-color: var(--color);
  border: 1px solid var(--divider);
}
