@use "breakpoints";

.content {
  padding: 12px 8px;
}

.item {
  padding-inline: 16px;
  gap: 14px;
  max-width: 100%;

  @include breakpoints.media("<mobile") {
    padding-inline: 0;
  }
}

.drop-zone {
  --icon-size: 24px;
  --icon-stroke: var(--inverted-100);

  appearance: none;
  box-shadow: none;
  outline: none;
  background: none;
  border-radius: var(--radius-md);
  border: 1.5px dashed var(--divider);
  cursor: pointer;
  width: 300px;
  height: 164px;
  padding: 16px;
  max-width: 100%;

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: wait;
  }

  &.empty {
    padding: 32px;
  }
}

.image {
  width: 100%;
  height: 100%;
}

.footer {
  gap: 10px;
  min-height: 21px;
}
