@use "breakpoints";

.x {
  /* Container */
  &.container {
    align-items: center;
    position: relative;
    padding-top: 50px;
    gap: 12px;
  }

  /* Splash */
  &.splash {
    height: calc(100vh - var(--header-height));
    min-height: initial;
    width: 100%;
    position: absolute;
    top: var(--header-height);
    left: 0;
    z-index: 0;
    user-select: none;
    border-bottom: 1px solid var(--divider);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  /* Splash image */
  &.splash-image {
    object-fit: contain;
    max-width: 1024px;
    max-height: calc(100% - 200px);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }

  /* Article */
  &.article {
    margin-top: calc(100vh - var(--header-height));
    padding-block: 64px;
    gap: 72px;

    @include breakpoints.media("<=mobile") {
      gap: 42px;
    }
  }

  /* Section */
  &.section {
    display: flex;
    gap: 24px;

    & img {
      width: 100%;
      max-width: 100%;
    }

    @include breakpoints.media("<=tablet") {
      flex-direction: column;
      align-items: center;

      & .section-title {
        position: relative;
        top: 0;
      }
    }
  }

  /* Section title */
  &.section-title {
    position: sticky;
    top: calc(var(--header-height) + 24px);
    height: fit-content;
  }

  /* Section content */
  &.section-content {
    padding-inline: 48px;
    gap: 64px;

    @include breakpoints.media("<=mobile") {
      padding-inline: 0;
    }
  }

  /* Action */
  &.actions {
    padding-block: 8px;
    flex-wrap: wrap;
    gap: 8px;
  }
}
