.logo-color {
  align-items: center;
  justify-content: center;

  & > figure {
    &:first-of-type {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:last-of-type {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      border-top: 0;
    }
  }
}

.misuse-container {
  padding: 16px;
  gap: 32px;
}

.color-combination {
  width: initial;
  flex-grow: 1;
}
