@use "breakpoints";

.x {
  &.placeholder {
    display: inline-block;
    position: absolute;
    top: 32px;
    left: 48px;
    user-select: none;
    color: var(--fg-muted);
    pointer-events: none;

    @include breakpoints.media("<desktop") {
      top: 86px;
    }

    @include breakpoints.media("<=tablet") {
      left: 0;
    }
  }
}
