/* Content */
.content {
  width: 238px;
  max-width: calc(100vw - 32px);
  background-color: var(--bg-elevation-xs);
  border: 1px solid var(--divider);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
  z-index: var(--z-index-popover);
  animation-duration: 250ms;
  animation-timing-function: var(--easing-short);
  will-change: transform, opacity;

  &[data-state="open"][data-side="top"] {
    animation-name: slide-down-and-fade;
  }

  &[data-state="open"][data-side="right"] {
    animation-name: slide-left-and-fade;
  }

  &[data-state="open"][data-side="bottom"] {
    animation-name: slide-up-and-fade;
  }

  &[data-state="open"][data-side="left"] {
    animation-name: slide-right-and-fade;
  }
}

/* Arrow */
.arrow {
  fill: var(--bg-elevation-xs);
  filter: drop-shadow(-1px 1px 0 var(--divider))
    drop-shadow(2px 1px 0 var(--divider));
  margin-top: -1px;
}

/* Header */
.header {
  padding-left: 16px;
  border-bottom: 1px solid var(--divider);
}

/* Close */
.close {
  padding: 5px;
}

/* Animations */
@keyframes slide-up-and-fade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-right-and-fade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-down-and-fade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-left-and-fade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
