.spacer {
  --factor: calc(var(--size, 1) * var(--spacing));

  display: block;
}

.inline {
  display: inline;
}

/* Orientation */
.horizontal {
  width: var(--factor);
  min-width: var(--factor);
  height: 0;
  min-height: 0;
}

.vertical {
  width: 0;
  min-width: 0;
  height: var(--factor);
  min-height: var(--factor);
}
