/* Base styles */
.account-activity {
  gap: 10px;
  align-items: center;
  position: relative;
  padding-block: 20px;

  &:not(.hide-pipe, [data-last-item="true"])::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    left: 23px;
    top: 50%;
    background-color: var(--divider);
  }
}

/* Icon avatar */
.avatar {
  --icon-size: 24px;
}
