@use "breakpoints";

.x {
  /* Banner aspect ratio */
  &.aspect-ratio {
    position: relative;
    width: auto;
    margin-inline: var(--grid-compensation);

    @include breakpoints.media("<=desktop", ">mobile") {
      width: calc(100vw - 78px);
      margin-left: calc(50% + 2px);
      transform: translateX(-50%);
    }
  }

  /* Banner image */
  &.banner {
    width: auto;
  }

  /* Banner actions */
  &.banner-actions {
    position: absolute;
    top: 8px;
    right: 8px;
    gap: 6px;
  }

  /* Placeholder */
  &.placeholder {
    --icon-size: 24px;

    background-color: var(--bg-elevation-md);
  }
}
