@use "breakpoints";

.content-editable {
  display: block;
  position: relative;
  border: 0;
  outline: 0;
  height: 100%;
  padding: 32px 48px;

  h2,
  h3 {
    // For `scrollIntoView` (table of contents)
    scroll-margin: calc(var(--header-height) + 18px);
  }

  /* Read-only */
  &:not(.editable) {
    height: fit-content;
    min-height: 36vh;
    padding: 0 0 10vh;

    /* Normalize TK nodes in read-only mode */
    & [data-tk-node] {
      color: inherit !important;
      font-weight: inherit !important;
    }

    /* Normalize TK parent nodes in read-only mode */
    & [data-tk-parent] {
      &::before {
        content: none !important;
      }
    }
  }

  @include breakpoints.media("<desktop") {
    &.editable {
      padding-top: 86px; // Metadata bar
      padding-bottom: 10vh;
    }
  }

  @include breakpoints.media("<tablet") {
    padding-inline: 0;
  }
}
