@use "breakpoints" as breakpoints;

/* Base styles */
.content-editable {
  display: block;
  position: relative;
  border: 0;
  outline: 0;
  height: 100%;
  padding: 32px 48px 50vh;

  @include breakpoints.media("<desktop") {
    &.editable {
      padding-top: 86px; // Metadata bar
    }
  }

  @include breakpoints.media("<=tablet") {
    padding-inline: 0;
  }
}
