@use "breakpoints";

/* Base styles */
.content-editable {
  display: block;
  position: relative;
  border: 0;
  outline: 0;
  height: 100%;

  /**
   * 100vh is needed here as the sidebars would never be
   * visible if an overflowing node was inserted at the end
   * of the editor.
   */
  padding: 32px 48px 100vh;

  /* Read-only */
  &:not(.editable) {
    height: fit-content;
    padding: 0 0 10vh;

    /* Normalize TK nodes in read-only mode */
    & [data-tk-node] {
      color: inherit !important;
      font-weight: inherit !important;
    }

    /* Normalize TK parent nodes in read-only mode */
    & [data-tk-parent] {
      &::before {
        content: none !important;
      }
    }
  }

  @include breakpoints.media("<desktop") {
    &.editable {
      padding-top: 86px; // Metadata bar
      padding-bottom: 10vh;
    }
  }

  @include breakpoints.media("<=tablet") {
    padding-inline: 0;
  }
}
