name: Restart Docker containers on EC2

on:
  workflow_run:
    workflows: [ "deploy-api", "deploy-discovery", "deploy-nginx", "deploy-web" ]
    branches: [ main ]
    types:
      - completed

jobs:
  deploy:
    name: Restart Docker containers on EC2
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    environment: production

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Recreate containers
        uses: appleboy/ssh-action@v1.0.0
        env:
          AWS_REGION: ${{ secrets.AWS_REGION }}
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        with:
          host: ${{ secrets.EC2_SSH_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
          port: ${{ secrets.EC2_SSH_PORT }}
          envs: AWS_REGION,ECR_REGISTRY
          script: |
            aws ecr get-login-password \
              --region $AWS_REGION \
              | docker login \
              --username AWS \
              --password-stdin $ECR_REGISTRY
            docker-compose down
            docker system prune -a --volumes --force
            docker-compose up -d
