name: test-api

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  build-test-artifacts:
    name: Build test artifacts
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./apps/backend
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          # By default actions/checkout checks out a merge commit. Check out the PR head instead.
          # https://github.com/actions/checkout#checkout-pull-request-head-commit-instead-of-merge-commit
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Install latest stable release
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Install nextest
        uses: taiki-e/install-action@nextest

      - name: Build and archive tests
        run: cargo nextest archive --archive-file nextest-archive.tar.zst

      - name: Upload archive to workflow
        uses: actions/upload-artifact@v3
        with:
          name: nextest-archive
          path: nextest-archive.tar.zst

  run-tests-partitioned:
    name: Run tests with partitioning
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./apps/backend
    needs: build-test-artifacts
    strategy:
      matrix:
        partition: [1, 2]
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          # By default actions/checkout checks out a merge commit. Check out the PR head instead.
          # https://github.com/actions/checkout#checkout-pull-request-head-commit-instead-of-merge-commit
          ref: ${{ github.event.pull_request.head.sha }}

      - run: mkdir -p ~/.cargo/bin

      - name: Install nextest
        uses: taiki-e/install-action@nextest

      - name: Download archive
        uses: actions/download-artifact@v3
        with:
          name: nextest-archive

      - name: Run tests
        run: |
          ~/.cargo/bin/cargo-nextest nextest run --no-fail-fast --workspace --archive-file nextest-archive.tar.zst \
            --partition count:${{ matrix.partition }}/2