name: test-api

on:
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/**'
      - 'apps/backend/**'
  push:
    branches:
      - main
    paths:
      - '.github/workflows/**'
      - 'apps/backend/**'

env:
  CARGO_TERM_COLOR: always

defaults:
  run:
    working-directory: ./apps/backend

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install latest stable
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          components: rustfmt, clippy

      - name: Run cargo clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --manifest-path=apps/backend/Cargo.toml --all-targets --all-features -- -D warnings

# TODO: Uncomment after we have large runners. Currently, the jobs below exit with 143 status due to CPU throttling on the hosted runners.
#  build-test-artifacts:
#    name: Build test artifacts
#    runs-on: ubuntu-latest
#    needs: lint
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v4
#        with:
#          # By default actions/checkout checks out a merge commit. Check out the PR head instead.
#          # https://github.com/actions/checkout#checkout-pull-request-head-commit-instead-of-merge-commit
#          ref: ${{ github.event.pull_request.head.sha }}
#
#      - name: Install latest stable release
#        uses: actions-rs/toolchain@v1
#        with:
#          toolchain: stable
#          override: true
#
#      - name: Install nextest
#        uses: taiki-e/install-action@nextest
#
#      - name: Build and archive tests
#        run: cargo nextest archive --workspace --all-features --archive-file nextest-archive.tar.zst
#
#      - name: Upload archive to workflow
#        uses: actions/upload-artifact@v3
#        with:
#          name: nextest-archive
#          path: apps/backend/nextest-archive.tar.zst
#
#  run-tests-partitioned:
#    name: Run tests with partitioning
#    runs-on: ubuntu-latest
#    needs: build-test-artifacts
#    env:
#      IS_DEV: false
#      HOST: localhost
#      PORT: 8080
#      REALMS_HOST: 127.0.0.1
#      REALMS_PORT: 8081
#      GRPC_ENDPOINT: 127.0.0.1:50051
#      MINIO_ENDPOINT: http://localhost:9000
#      API_SERVER_URL: https://api.storiny.com
#      WEB_SERVER_URL: https://storiny.com
#      CDN_SERVER_URL: https://cdn.storiny.com
#      SITEMAPS_SERVER_URL: https://sitemaps.storiny.com
#      REALMS_SERVER_URL: wss://realms.storiny.com
#      TOKEN_SALT: 1234567890abcdef
#      GRPC_SECRET_TOKEN: 1234567890abcdef
#      DATABASE_URL: postgres://postgres:postgres@localhost:5432/postgres
#      REDIS_HOST: localhost
#      REDIS_PORT: 6379
#      PEXELS_API_KEY: ${{ secrets.PEXELS_API_KEY }}
#      SESSION_SECRET_KEY: T1dVd01XWXpNRGd0WW1aak1DMDBObVJoTFRsa09XUXRNemd6TldGa09XSTVZVFkx
#      AWS_ACCESS_KEY_ID: minio_user
#      AWS_SECRET_ACCESS_KEY: minio_pass
#      # OAuth
#      GOOGLE_CLIENT_ID: _
#      GOOGLE_CLIENT_SECRET: _
#      YOUTUBE_DATA_API_KEY: _
#      GITHUB_CLIENT_ID: _
#      GITHUB_CLIENT_SECRET: _
#      SPOTIFY_CLIENT_ID: _
#      SPOTIFY_CLIENT_SECRET: _
#      DISCORD_CLIENT_ID: _
#      DISCORD_CLIENT_SECRET: _
#      DRIBBBLE_CLIENT_ID: _
#      DRIBBBLE_CLIENT_SECRET: _
#    services:
#      redis:
#        image: redis:7.2.4-alpine
#        ports:
#          - 6379:6379
#      postgres:
#        image: postgres:15-alpine
#        env:
#          POSTGRES_PASSWORD: postgres
#        options: >-
#          --health-cmd pg_isready
#          --health-interval 10s
#          --health-timeout 5s
#          --health-retries 5
#        ports:
#          - 5432:5432
#      minio:
#        image: bitnami/minio:latest
#        env:
#          MINIO_ROOT_USER: minio_user
#          MINIO_ROOT_PASSWORD: minio_pass
#          MINIO_DEFAULT_BUCKETS: base-3939361a,docs-84b42278,uploads-ec0f63c5,sitemaps-1fbc3def
#        ports:
#          - 9000:9000
#          - 9001:9001
#    strategy:
#      matrix:
#        partition: [ 1, 2, 3, 4, 5, 6, 7, 8 ]
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v4
#        with:
#          # By default actions/checkout checks out a merge commit. Check out the PR head instead.
#          # https://github.com/actions/checkout#checkout-pull-request-head-commit-instead-of-merge-commit
#          ref: ${{ github.event.pull_request.head.sha }}
#
#      - name: Install latest stable
#        uses: actions-rs/toolchain@v1
#        with:
#          toolchain: stable
#          override: true
#
#      - name: Install nextest
#        uses: taiki-e/install-action@nextest
#
#      - name: Download archive
#        uses: actions/download-artifact@v3
#        with:
#          name: nextest-archive
#          path: apps/backend
#
#      - name: Run tests
#        run: |
#          cargo nextest run --no-fail-fast --archive-file nextest-archive.tar.zst \
#            --partition count:${{ matrix.partition }}/8

  test:
    name: Run tests
    runs-on: ubuntu-latest
#    needs: lint
    env:
      SQLX_OFFLINE: true
      IS_DEV: false
      HOST: localhost
      PORT: 8080
      REALMS_HOST: 127.0.0.1
      REALMS_PORT: 8081
      GRPC_ENDPOINT: 127.0.0.1:50051
      MINIO_ENDPOINT: http://localhost:9000
      API_SERVER_URL: https://api.storiny.com
      WEB_SERVER_URL: https://storiny.com
      CDN_SERVER_URL: https://cdn.storiny.com
      SITEMAPS_SERVER_URL: https://sitemaps.storiny.com
      REALMS_SERVER_URL: wss://realms.storiny.com
      TOKEN_SALT: 1234567890abcdef
      GRPC_SECRET_TOKEN: 1234567890abcdef
      DATABASE_URL: postgres://postgres:postgres@localhost:5432/postgres
      REDIS_HOST: localhost
      REDIS_PORT: 6379
      PEXELS_API_KEY: ${{ secrets.PEXELS_API_KEY }}
      SESSION_SECRET_KEY: T1dVd01XWXpNRGd0WW1aak1DMDBObVJoTFRsa09XUXRNemd6TldGa09XSTVZVFkx
      AWS_ACCESS_KEY_ID: minio_user
      AWS_SECRET_ACCESS_KEY: minio_pass
      # OAuth
      GOOGLE_CLIENT_ID: _
      GOOGLE_CLIENT_SECRET: _
      YOUTUBE_DATA_API_KEY: _
      GITHUB_CLIENT_ID: _
      GITHUB_CLIENT_SECRET: _
      SPOTIFY_CLIENT_ID: _
      SPOTIFY_CLIENT_SECRET: _
      DISCORD_CLIENT_ID: _
      DISCORD_CLIENT_SECRET: _
      DRIBBBLE_CLIENT_ID: _
      DRIBBBLE_CLIENT_SECRET: _
    services:
      redis:
        image: redis:7.2.4-alpine
        ports:
          - 6379:6379
      postgres:
        image: postgres:15-alpine
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
      minio:
        image: bitnami/minio:latest
        env:
          MINIO_ROOT_USER: minio_user
          MINIO_ROOT_PASSWORD: minio_pass
          MINIO_DEFAULT_BUCKETS: base-3939361a,docs-84b42278,uploads-ec0f63c5,sitemaps-1fbc3def
        ports:
          - 9000:9000
          - 9001:9001
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          # By default actions/checkout checks out a merge commit. Check out the PR head instead.
          # https://github.com/actions/checkout#checkout-pull-request-head-commit-instead-of-merge-commit
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Install latest stable
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Install nextest
        uses: taiki-e/install-action@nextest

      - name: Setup just
        uses: extractions/setup-just@v1

      - name: Run database migrations
        run: |
          cargo install sqlx-cli --no-default-features --features migrate,postgres
          cargo sqlx mig run

      - name: Run tests
        run: just test_ci