/* Base styles */
.popular-story {
  gap: 4px;
  align-items: flex-start;
}

/* Primary text */
.primary-text {
  gap: 8px;
}

/* Trending text */
.trending-text {
  --icon-stroke: var(--fg-minor);

  gap: 6px;
}
