@use "breakpoints";

.x {
  /* Input field and select trigger */
  &.input,
  &.select-trigger {
    border-radius: 0;
  }

  /* Input */
  &.input {
    &:not([data-focused="true"]) {
      border: none;
    }
  }

  /* Select trigger */
  &.select-trigger {
    border: none;
    align-self: stretch;
  }

  /* Control bar */
  &.control-bar {
    align-items: stretch;
  }

  /* Status header */
  &.status-header {
    padding-inline: 20px;
    padding-block: 16px;

    @include breakpoints.media(">tablet") {
      padding-right: 0;
      padding-block: 0;
      min-height: 42px;
    }
  }
}
