@use "breakpoints";

.control-bar {
  align-items: stretch;
}

.status-header {
  padding-inline: 20px;
  padding-block: 16px;

  @include breakpoints.media(">tablet") {
    padding-right: 0;
    padding-block: 0;
    min-height: 42px;
  }
}
