.status-header {
  padding-block: 16px;
  padding-inline: 20px;
}

.header-actions {
  gap: 8px;
}

.x {
  &.tabs {
    padding-inline: 20px;
  }

  &.tabs-list {
    display: flex;
    justify-content: space-around;
  }
}
