@use "breakpoints" as breakpoints;

.x {
  /* Page header */
  &.page-header {
    @include breakpoints.media("<=tablet") {
      border-top: 1px solid var(--divider);
      box-shadow: none;
    }
  }

  /* Input field and select trigger */
  &.input,
  &.select-trigger {
    border-radius: 0;
  }

  /* Input */
  &.input {
    &:not([data-focused="true"]) {
      border: none;
    }
  }

  /* Select trigger */
  &.select-trigger {
    border: none;
    outline-offset: calc(-1 * var(--focus-thickness));
  }
}
